*, *:before, *:after {
	box-sizing: border-box;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	-webkit-overflow-scrolling: scroll-touch;
	background-color: $white;
	color: $font-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: $font-size;
	font-family: $font-family;
	&.no-scroll {
		overflow: hidden;
	}
}

#app {
	// display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}