@font-face {
	font-family: 'butlerblack';
	src: url('../../../assets/font/butler_black-webfont.woff2') format('woff2'),
		 url('../../../assets/font/butler_black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}