// --------------------------------------------------------------------------
// Container
// --------------------------------------------------------------------------

@mixin defaultContainer() {
	padding-left: 16px;
	padding-right: 16px;

	@media (min-width: $breakpoint-tablet) {
		padding-left: 32px;
		padding-right: 32px;
	}

	@media (min-width: $breakpoint-desktop) {
		padding-left: 64px;
		padding-right: 64px;
	}
}

@mixin backgroundPicture() {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@mixin homeContainer() {
	height: 100vh;
	display: flex;
	@include defaultContainer;
	@include backgroundPicture;
}

@mixin narrowContent() {
	max-width: 600px;
	width: 100%;
}

@mixin centerContent() {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

// --------------------------------------------------------------------------
// Components
// --------------------------------------------------------------------------

@mixin baseInput() {
	font-size: 1em;
	padding: 16px 0;
	border: none;
	border-bottom: 1px solid $border-color;
	border-radius: 0;
	background-color: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}


// --------------------------------------------------------------------------
// Images
// --------------------------------------------------------------------------

@mixin backgroundCover($image: '') {
	@if $image != '' {
		background-image: url($image);
	}

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


// --------------------------------------------------------------------------
// Breakpoint
// --------------------------------------------------------------------------

@mixin breakpointMobile() {
	@media (min-width: $breakpoint-mobile) {
		@content;
	}
}

@mixin breakpointTablet() {
	@media (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin breakpointDesktop() {
	@media (min-width: $breakpoint-desktop) {
		@content;
	}
}

@mixin breakpointWidescreen() {
	@media (min-width: $breakpoint-widescreen) {
		@content;
	}
}

@mixin breakpointMobileMax() {
	@media (max-width: $breakpoint-tablet - 1) {
		@content;
	}
}

@mixin breakpointTabletMax() {
	@media (max-width: $breakpoint-desktop - 1) {
		@content;
	}
}

@mixin breakpointDesktopMax() {
	@media (max-width: $breakpoint-widescreen - 1) {
		@content;
	}
}

// --------------------------------------------------------------------------
// Animation
// --------------------------------------------------------------------------

@mixin formAnimation() {
	.imput {
		transform: translateY()
	}
}
