h1 {
	font-family: $font-family-title;
	font-size: 2em;
	color: $darkBlue;
	line-height: 1.3em;
	margin: 0 0 16px 0;
	@media (min-width: $breakpoint-desktop) {
		font-size: 3.5em;
	}
}

.title {
	color: $darkBlue;
}
.subtitle {
	font-weight: normal;
	font-size: $size-7;
	a {
		color: $font-color;
		text-decoration: none;
	}
}

ul {
	line-height: 1.6em;
}

a,.link-primary {
	text-decoration: underline;
	cursor: pointer;
	color: $darkBlue;
	opacity: 1;
	transition: 0.2s;

	&:hover {
		opacity: 0.5;
	}
	&.link-order {
		text-decoration: underline;
		border-bottom: none;
	}
}

.strong {
	font-weight: bold;
}





