.mask {
}

.linkList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.green {
	color: $highlightGreen;
}



.home-content {
	width: 100%;

	@media (min-width: $breakpoint-tablet) {
		width: 80%;
	}

	@media (min-width: $breakpoint-desktop) {
		width: 60%;
	}

	@media (min-width: $breakpoint-widescreen) {
		width: 45%;
	}
}

.paddedContainer {
	@include defaultContainer;
}

.pageContent {
	display: flex;
	flex-direction: column;
	padding-top: 80px;
	padding-bottom: 30px;
	@include defaultContainer;

}

.narrowContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 100px;
	@include defaultContainer;


	.actionButton {
		border: none;
	}
}

.narrowContent {
	@include narrowContent;
}

.centerContent {
	@include centerContent;
}

.simplePageContent {
	margin-top: 60px;
}

.darkForm {
	background-color: $darkBlue;

	label {
		color: $white;
	}

	input, select {
		border-color: $white;
		color: $white;
	}
}

.lightForm {
	label {
		color: $darkBlue;
	}

	input, select {
		border-color: rgba(0, 0, 0, 0.2);
		color: $darkBlue;
	}
}

.iconicLink {
	display: flex;
	flex-direction: row;
	align-items: center;
}

// To be replaced by sprites (both <svg>)
svg.icon {
	width: 20px;
	height: 20px;
}

svg.headerIcon {
	width: 25px;
	height: 25px;
}

.rounded {
	border-radius: 9px;
}

.userInput {
	margin-top: 24px;

	h2  {
		margin-bottom:32px;
	}
	hr {
		opacity: 0.4;
	}

	img {
		max-width: 100%;
		margin-bottom: 16px;
	}
	p {
		margin-bottom: 16px;
	}

	iframe {
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}

#next {
	color: gray;
}

.buttonShadow {
	box-shadow: 0 5px 20px rgba(163, 247, 181, 0.40);
}

.no-border {
	border: none !important;
}

.hidden {
	display: none!important;
}