$white: #ffffff;
$black: #000000;

$darkBlue: #191935;
$middleBlue: #46536B;
$orange: #FFCF9C;
$highlightGreen: #95E1A5;
$secondary: #ffffff;

$border-color: rgba($darkBlue, .2);

$success: #A3F7B5;
$warning: #F7E5A3;
$danger: #F7A3A3;
$info: #5887FF;

$gray-light: #f9f9f9;
$gray-middle: #d6d6d6;
$gray-dark: #5b5b5b;
$gray-border: #d6d6d6;

$font-color: $middleBlue;
$font-gray: #969799;

$font-family: 'Poppins', sans-serif;
$font-family-title: 'butlerblack';

$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;
$breakpoint-widescreen: 1440px;


$font-size: 14px;