{% extends '_layout' %}

{% block content %}

{# Define product stock #}

{% set inStock = false %}

{% if product.defaultVariant.unlimitedStock or product.defaultVariant.stock > 0 %}
{% set inStock = true %}
{% endif %}

{# Macro that generates quantity inputs #}
{% import "newshop/macros/quantityInput" as quantityInput %}
<div class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-12">
				{% if product.defaultVariant.productImage|length %}
				<div class="owl-carousel owl-theme wow-anim fadeInUp">
					{% set images = product.defaultVariant.productImage %}
					{% for image in images %}
					<div class="product-image owl-lazy" data-src="{{url( image.url )}}"></div>
					{% endfor %}
				</div>
				{# else #}
				{# Handle banner placeholder #}
				{% endif %}
			</div>
		</div>
		<div class="columns">
			<div class="column is-8 is-offset-2">
				<div class="columns is-multiline">
					<div class="column is-12">
						<h1 id="productTitle" class="has-text-weight-bold wow-anim fadeInUp">{{ product.title }}</h1>
						<div class="content wow-anim fadeInUp">
							<span id="productPrice" class="has-text-weight-bold ">{{ (product.defaultVariant.salePrice + (product.defaultVariant.salePrice * 0.2))|commerceCurrency(cart.currency) }} {{'incl. taxes'|t}}*</span>
							<span id="productStock" class="has-text-weight-bold ">{% if inStock %} {{ 'in stock'|t }} {% else %} {{ 'out of stock'|t }} {% endif %}</span>
						</div>

						{% if product.id in [318, 695, 670, 292, 329, 338] %}
						<div class="product-patent wow-anim fadeInUp">
							<img src="{{ craft.config.baseResourceUrl ~ 'public/images/icons/' ~ 'product-patent-icon'|t }}" alt="" />
						</div>
						{% endif %}
					</div>
					<div class="column is-8">
						<div class="content wow-anim fadeInUp">
							{{ product.productDescription }}
						</div>

						{# Social sharing of this post #}
						<div class="product-share wow-anim fadeInUp">
							<div class="share-label">
								{{ 'Share this product'|t}}
							</div>
							<div class="share-icons">
								<div class="icon" data-share="facebook">
									<img src="{{ siteUrl ~ 'images/icons/share_facebook.svg' }}" alt="facebook share icon">
								</div>
								<div class="icon" data-share="twitter">
									<img src="{{ siteUrl ~ 'images/icons/share_twitter.svg' }}" alt="twitter share icon">
								</div>
								<div class="icon" data-share="pinterest">
									<img src="{{ siteUrl ~ 'images/icons/share_pinterest.svg' }}" alt="pinterest share icon">
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="product-cart wow-anim fadeInUp" id="productParams">
							{# Variant management #}

							{% set variants = product.variants %}
							{% set variantColors = craft.variantSelector.getUniqueVariantAttributeValues('variantColor', variants, false) %}
							{% set variantSizes = craft.variantSelector.getUniqueVariantAttributeValues('variantSize', variants, false) %}
							{% set variantLegs = craft.variantSelector.getUniqueVariantAttributeValues('variantLeg', variants, false) %}
							{% set variantFoams = craft.variantSelector.getUniqueVariantAttributeValues('variantFoam', variants, false) %}

							<form id="addToCartForm" method="POST" class="darkForm"
							data-subtotal-url="{{ url('newshop/ajax/_cartSubtotal') }}"
							data-product-base-url="{{ url('newshop/ajax/_productLine') }}?purchasableId="
							data-product-template-url=""
							data-default-variant-id="{{ variants[0].id }}">
							<input type="hidden" name="action" value="commerce/cart/updateCart">
							{{ getCsrfInput() }}

							{% if product.defaultVariant.unlimitedStock or product.defaultVariant.stock > 0 %}
							<span id="paramsNotification" class="notification hidden" style="color: white;">
								{{'this product is unavailable with those criterias'|t}}
							</span>
							{% endif %}

							<div>
								<label for="productQuantity">{{'Quantity'|t}}</label>

								<div class="numberSpinner updateItemQuantity">
									<button class="productPage decrementButton">-</button>
									{{ quantityInput.build(product.defaultVariant, null, 'productQuantity', 'numberfield productPage spinner', true) }}
									<button class="productPage incrementButton">+</button>
								</div>
							</div>

							{# Base variant selector #}
							{% if variants | length > 1 %}
							<select id="variantSelect" type="hidden" name="purchasableId" data-price-template-url="{{ url('newshop/ajax/variantPrice') }}">
								{% if ((variantColors | length > 0) or (variantSizes | length > 0) or (variantLegs | length > 0) or (variantFoams | length > 0)) %}
								<option value="" data-color="" data-size="" data-leg="" data-foam=""></option>
								{% endif %}

								{% for purchasable in variants %}
								<option {% if purchasable.stock <= 0 and purchasable.unlimitedStock == false %}disabled {% endif %} value="{{ purchasable.purchasableId }}" data-out-of-stock="{% if purchasable.stock <= 0 and purchasable.unlimitedStock == false %}true{% endif %}" data-color="{{ purchasable.variantColor | length ? purchasable.variantColor[0].slug : '' }}" data-size="{{ purchasable.variantSize | length ? purchasable.variantSize[0].slug : '' }}" data-leg="{{ purchasable.variantLeg | length ? purchasable.variantLeg[0].slug : '' }}" data-foam="{{ purchasable.variantFoam | length ? purchasable.variantFoam[0].slug : '' }}" data-min-qty="{{ purchasable.minQty }}" data-max-qty="{{ purchasable.maxQty }}">
									{{ purchasable.title }} {{ purchasable.variantColor[0].title ?? '' }} {{ purchasable.variantSize[0].title ?? '' }} {{ purchasable.variantLeg[0].title ?? '' }} {{ purchasable.variantFoam[0].title ?? '' }}
								</option>
								{% endfor %}
							</select>

							{# Variant attributes – colors sizes and legs #}
							{% if ((variantColors | length > 0) or (variantSizes | length > 0) or (variantLegs | length > 0) or (variantFoams | length > 0)) %}
							{% if variantColors | length > 0 %}
							<div>
								<label>{{'Color'|t}}</label>
								<select name="variantColor" class="dropdown">
									<option value="">{{'Select a color'|t}}</option>
									{% for variantColor in variantColors %}
									<option value="{{ variantColor.slug }}">{{ variantColor.title }}</option>
									{% endfor %}
								</select>
							</div>
							{% endif %}

							{% if variantSizes | length > 0 %}
							<div>
								<label class="">{{'Size'|t}}</label>
								<select name="variantSize" class="dropdown">
									<option value="">{{'Select a size'|t}}</option>
									{% for variantSize in variantSizes %}
									<option value="{{ variantSize.slug }}">{{ variantSize.title }}</option>
									{% endfor %}
								</select>
							</div>
							{% endif %}

							{% if variantLegs | length > 0 %}
							<div>
								<label>{{'Members'|t}}</label>
								<select name="variantLeg" class="dropdown">
									<option value="">{{'Select members'|t}}</option>
									{% for variantLeg in variantLegs %}
									<option value="{{ variantLeg.slug }}">{{ variantLeg.title }}</option>
									{% endfor %}
								</select>
							</div>
							{% endif %}

							{% if variantFoams | length > 0 %}
							<div>
								<label>{{'Foam'|t}}</label>
								<select name="variantFoam" class="dropdown">
									<option value="">{{'With / without foam?'|t}}</option>
									{% for variantFoam in variantFoams %}
									<option value="{{ variantFoam.slug }}">{{ variantFoam.title }}</option>
									{% endfor %}
								</select>
							</div>
							{% endif %}
							{% endif %}
							{% else %}
							<input type="hidden" name="purchasableId" value="{{ variants[0].id }}">
							{% endif %}
							<input type="submit" id="addToCart" class="actionButton" value="{{ "Add to cart"|t }}" disabled />
						</form>
					</div>
				</div>
				<div class="column is-12">
					<div class="content userInput wow-anim fadeInUp">
						{{ product.defaultVariant.productInformation }}
					</div>
					<div class="content is-small">
						*{{ 'Shipping costs are not included, please click'|t }}, <a href="{{ url('delivery') }}">{{ 'here'|t }}</a> {{ 'to check them'|t }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
