{% extends '_layout' %}

{% block content %}

	<div class="pageContent">
		{# --------- Display the highlighted product --------- #}

		{% if craft.commerce.products.type('accessories').productIsHighlighted('1')|length %}
			{% set promoProduct = craft.commerce.products.type('accessories').productIsHighlighted('1').first() %}

				{# Promotion product image #}
				{% if promoProduct.defaultVariant.productImage | length %}
					{% set image = promoProduct.defaultVariant.productImage.first() %}

					{# {% if promoProduct.url %}{{ promoProduct.link }}{% else %}{{ promoProduct.title }}{% endif %} #}

					<a class="productHilightLink wow-anim fadeInUp" href="{{ promoProduct.url }}">
						<div class="productHighlight" style="background-image: url({{ image.url }});">
							<h1 class="highlightTitle">{{ promoProduct.title }}</h1>

							<span class="highlightPrice">
								{{ (promoProduct.defaultVariant.salePrice + (promoProduct.defaultVariant.salePrice * 0.2))|commerceCurrency(cart.currency) }} tax incl
							</span>
						</div>
					</a>
				{% endif %}
		{% endif %}


		{# --------- Display the product list --------- #}

		{# Limit the content to paginate #}
		{% paginate craft.commerce.products.type('accessories').limit(12) as pageInfo, products %}

		<div id="productList">
			{% for product in products %}

				<div class="product wow-anim fadeInUp">
					{# Display product image depending on availability #}

					{% if product.defaultVariant.productImage | length %}
						{% set image = product.defaultVariant.productImage.first() %}
					<a href="{{ product.url }}" class="imageLink">
						<div class="productPicture" style="background-image: url({{ image.url  }});"></div>
					</a>
					{% else %}
						<div class="productPicture" style="background-image: url({# placeholder #});"></div>
					{% endif %}
						<div id="productInfo">
							<a href="{{ product.url }}" class="productTitle">{{ product.title }}</a>
							<span class="productPrice">{{ (product.defaultVariant.salePrice + (product.defaultVariant.salePrice * 0.2))|commerceCurrency(cart.currency) }} {{ 'incl. taxes'|t }}</span>
						</div>
				</div>
			{% endfor %}
		</div>

		{# --------- Pagination --------- #}

		{# Macro that builds a pagination based on this page first paginate function 'as' parameter  #}
		{% import "macros/_pagination" as paginator %}

		{# Parameters: pageInfo, displayPageNumbers, limit, displayCurrentPage, displayFirstAndLast #}

		{{ paginator.paginate(pageInfo, false, null, false, false) }}
	</div>
{% endblock %}