{% extends '_layout' %}
{% set title = 'My orders'|t %}

{# Generate language links to be used within '_layouts/_language' #}
{% set languageLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/customer',
		'fr': craft.config.siteUrl['fr'] ~ '/client'
	}
%}

{# Redirecting diconnected users to the login page #}
{% if not currentUser %}
{% redirect 'login' %}
{% endif %}

{% block content %}
<div class="pageContent">
	<div id="orders" class="narrowContainer">
		{% include "newshop/_includes/nav" %}

		{# Limit the content to paginate #}
		{% paginate craft.commerce.orders.customer(craft.commerce.customer).limit(15) as pageInfo, orders %}

		<h1>{{ 'My Orders'|t }}</h1>

		<table>
			<thead>
				<tr>
					<th>{{ "Order"|t }}</th>
					<th>{{ "Date"|t }}</th>
					<th>{{ "Total Quantity"|t }}</th>
					<th>{{ "Total"|t }}</th>
				</tr>
			</thead>

			<tbody>
				{% for order in orders %}
				<tr>
					<td><a href="{{ url('newshop/customer/order', { number: order.number }) }}" class="link-order">{{ 'Order'|t }} #{{ order.shortNumber }}</a></td>
					<td>{{ order.dateOrdered.localeDate() }}</td>
					<td>{{ order.totalQty }} {{ order.totalQty > 1 ? "#{ 'Items'|t }" : "#{ 'Item'|t }" }}</td>
					<td>{{ order.totalPrice|commerceCurrency(cart.currency) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		{# --------- Pagination --------- #}

		{# Macro that builds a pagination based on this page first paginate function 'as' parameter  #}
		{% import "macros/_pagination" as paginator %}

		{# Parameters: pageInfo, displayPageNumbers, limit, displayCurrentPage, displayFirstAndLast #}

		{{ paginator.paginate(pageInfo, false, null, false, false) }}

	</div>
</div>
{% endblock %}
