{% extends '_layout' %}

{% set number = craft.request.param('orderNumber') %}
{% set order = craft.commerce.orders.number(number).first() %}

{% if not order %}
{% redirect 'newshop/customer' %}
{% endif %}

{# Making sure the user who sees this page is the one who passed the order #}
{% set customer = craft.commerce.getCustomer() %}

{% if customer.userId != order.customer.userId %}
{% redirect 'login' %}
{% endif %}

{% block content %}
<div class="pageContent">
	<div id="orderOverview" class="narrowContainer">
		{% if currentUser %}
		{% include 'newshop/_includes/nav' %}
		{% endif %}

		<h1>{{ 'Order'|t }} #{{ order.shortNumber }}</h1>

		<div id="customerInfo">
			<div>
				<h4>{{ 'Details'|t }}</h4>

				<ul>
					<li><strong>{{ "Customer"|t }}:</strong> {{ order.customer.email }}</li>
					<li><strong>{{ "Total"|t }}:</strong> {{ order.totalPrice|commerceCurrency(cart.currency) }}</li>
					<li><strong>{{ "Amount Paid"|t }}:</strong> {{ order.totalPaid|commerceCurrency(cart.currency) }}</li>
					<li><strong>{{ "Date"|t }}:</strong> {{ order.dateOrdered.localeDate() }}</li>
				</ul>
			</div>

			<div>
				<h4>{{ 'Shipping Address'|t }}</h4>

				{% if order.shippingAddress %}
				{% include 'newshop/_includes/addresses/address' with { address: order.shippingAddress } %}
				{% endif %}
			</div>

			<div>
				<h4>{{ 'Billing Address'|t }}</h4>

				{% if order.billingAddress %}
				{% include 'newshop/_includes/addresses/address' with { address: order.billingAddress } %}
				{% endif %}
			</div>
		</div>

		<table>
			<thead>
				<tr>
					<th>{{ 'Quantity'|t }}</th>
					<th>{{ 'Item'|t }}</th>
					<th>{{ 'Unit Price'|t }}</th>
					<th class="rightAlign">Total</th>
				</tr>
			</thead>
			<tbody>
				{% for item in order.lineItems %}
					<tr>
						<td>{{ item.qty }}</td>
						<td valign="top">
							<strong>{{ item.description }}</strong><br>
						</td>
						<td>
							{% if item.onSale %}
								<strike>{{ item.price|commerceCurrency(order.currency) }}</strike>   {{ item.salePrice|commerceCurrency(order.currency) }}
							{% else %}
								{{ item.price|commerceCurrency(order.currency) }}
							{% endif %}
						</td>
						<td class="rightAlign">{{ item.total|commerceCurrency(order.currency) }}</td>
					</tr>
				{% endfor %}

				<tr>
					<td colspan="4" class="rightAlign">
						{#
							Base Discount: {{ order.baseDiscount|commerceCurrency(order.currency) }}<br>
							Base Tax: {{ order.baseTax|commerceCurrency(order.currency) }}<br>
							Base Shipping Cost: {{ order.baseShippingCost|commerceCurrency(order.currency) }}<br>
						#}
						<strong>{{ 'Item Total'|t }}: {{ order.itemTotal|commerceCurrency(order.currency) }}</strong><br>
						{% for adjustment in order.adjustments %}
							{{ adjustment.type|t }}: {{ adjustment.amount|commerceCurrency(order.currency) }}<br>
						{% endfor %}
						<h3>Total {{ 'incl. taxes'|t }} : {{ order.totalPrice|commerceCurrency(order.currency) }}</h3>
					</td>
				</tr>
			</tbody>
		</table>

		{% if order.pdfUrl %}
		<div id="buttonContainer">
			<a href="{{ order.getPdfUrl('receipt') }}" class="actionButton buttonShadow"><span>{{ 'Download'|t }}</span></a>
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
