{#
The purpose of this macro is to generate an input (type number) according to an item stock
in order to specify the item quantity in craft commerce forms.

Parameters:
- purchasable: a purchasable model for a given line item or product variant
- defaultQuantity: value used for the 'value' attribute
- id: a string identifying the input
- class: a string identifying the input
- required: a boolean indicating whether the input is required or not
#}

{% macro build(purchasable, defaultQuantity, id, class, required) %}
	{#
	Define the minimum / maximum quantity orderable for this purchasable
	in order to set appropriate min, max and value HTML attributes to the number input.
	#}

	{% set minQuantity = 1 %}
	{% set maxQuantity = null %}
	{% set baseQuantity = 1 %}

	{# Minimum #}
	{% if purchasable.minQty %}
		{% set minQuantity = purchasable.minQty %}
		{% set baseQuantity = purchasable.minQty %}
	{% endif %}

	{# Maximum #}
	{% if purchasable.maxQty %}
		{% set maxQuantity = purchasable.maxQty %}
	{% endif %}

	<input type="number" name="qty"
		{% if id %} id="{{ id }}" {% endif %}
		{% if class %} class="{{ class }}" {% endif %}
		min="{{ minQuantity }}"
		{% if maxQuantity %} max="{{ maxQuantity }}" {% endif %}
		value="{{ defaultQuantity|default(baseQuantity) }}"
		{% if required %} required="" {% endif %}>
{% endmacro %}