{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% block content %}
	<form action="" method="post" accept-charset="UTF-8">
		<input type="hidden" name="action" value="FlatValueTax/Taxes/Save">
		<input type="hidden" name="redirect" value="flatvaluetax">
		{{ getCsrfInput() }}

		{% if tax.id %}
			<input type="hidden" name="taxId" value="{{ tax.id }}">
		{% endif %}

		{{ forms.textField({
			label: "Nom"|t,
			first: true,
			instructions: "Nom de la taxe."|t,
			name: 'name',
			value: tax.name is not null ? tax.name : '',
			errors: tax.getErrors('name'),
			required: true
		}) }}

		{{ forms.textField({
			label: "Montant"|t,
			instructions: "Montant de la taxe"|t,
			name: 'amount',
			value: tax.amount is not null ? tax.amount : '',
			errors: tax.getErrors('amount'),
			required: true
		}) }}

		{{ forms.textField({
			label: "Description"|t,
			instructions: "Description de la taxe (celle-ci figurera sur la page de paiement et la facture)"|t,
			name: 'description',
			value: tax.description is not null ? tax.description : '',
			errors: tax.getErrors('description'),
			required: true
		}) }}

		{{ forms.checkboxField({
			label: 'Activer la taxe'|t,
			name: 'enabled',
			value: 1,
			checked: tax.enabled,
			errors: tax.getErrors('enabled')
		}) }}
		<input type="submit" class="btn submit" value="{{ 'Enregistrer'|t }}">
	</form>
{% endblock %}
