{% extends "_layouts/cp" %}

{% set title = "Taxe à valeur arbitraire"|t %}

{% set content %}
	<h2>{{ "Taxe à valeur arbitraire"|t }}</h2>
	<p>{{ "Défini une taxe à valeur arbitraire qui sera appliquée à toute les commandes."|t }}</p>

	<table id="new-default-statuses" class="data fullwidth collapsible">
		<thead>
		<tr>
			<th scope="col">{{ 'Nom de la taxe'|t }}</th>
			<th scope="col">{{ 'Montant'|t }}</th>
			<th scope="col">{{ 'Description'|t }}</th>
			<th scope="col">{{ "Activée ?"|t }}</th>
			<td class="thin"></td>
		</tr>
		</thead>
		<tbody>
			{% for tax in taxes %}
				<tr data-id="{{ tax.id }}" data-name="{{ tax.id }}">
					<th scope="row" data-title="{{ 'Nom de la taxe'|t }}"><a href="{{ tax.getCpEditUrl() }}">{{ tax.name }}</a></th>
					<td data-title="{{ 'Montant'|t }}" class="code">{{ tax.amount }}</td>
					<td data-title="{{ 'Description'|t }}" class="code">{{ tax.description }}</td>
					<td>{% if tax.enabled %}<span data-icon="check" title="{{ 'Oui'|t }}"></span>{% endif %}</td>
					<td class="thin"><a class="delete icon" title="{{ 'Supprimer'|t }}" role="button"></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="buttons">
		<a href="{{ url('flatvaluetax/new') }}" class="btn submit add icon">{{ 'Nouvelle taxe à valeur arbitraire'|t }}</a>
	</div>

	<form id="deleteForm" method="POST">
		<input type="hidden" name="action" value="FlatValueTax/Taxes/Delete">
		<input type="hidden" name="taxId" id="targetTax" value="">
		{{ getCsrfInput() }}
	</form>
{% endset %}

{% set deletePrompt = 'Voulez-vous vraiment supprimer cette taxe ?'|t %}

{% includejs %}
	var deletePrompt = "{{deletePrompt}}";
	var deleteButtons = $('a.delete.icon');
	var deleteForm = $('#deleteForm');

	deleteButtons.on('click', function() {
		// Get the id of the tax that has to be deleted
		var taxId = $(this).parents('tr').data('id');

		if (window.confirm(deletePrompt) == true) {
			// Set the form param status id
			$('#targetTax').val(taxId);

			// Delete the status - Submit the form
			deleteForm.submit();
		}
	});
{% endincludejs %}