{% extends '_layout' %}

{# Generate language links to be used within '_layouts/_language' #}
{% set languageLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/customer/register',
		'fr': craft.config.siteUrl['fr'] ~ '/client/inscription'
	}
%}

{% block content %}
	<div class="narrowContainer">
		<div class="narrowContent centerContent">
			<h1>{{ 'Register'|t }}</h1>

			{% include 'forms/register' %}
		</div>
	</div>
{% endblock %}