// #ambassadorsText {
// 	margin-top: 60px;
// }

// #ambassadors {
// 	display: flex;
// 	justify-content: center;
// 	flex-direction: flex-start;
// 	flex-wrap: wrap;
// 	max-width: 960px;
// 	align-content: flex-start;

// 	@media (min-width: $breakpoint-tablet) {
// 		justify-content: space-between;
// 	}
// }

// .partner-img {
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// 	width: calc(100% / 3);
// 	max-width: 200px;
// 	min-width: 200px;
// 	margin-bottom: 32px;
// 	padding: 16px;

// 	@media (min-width: $breakpoint-tablet) {
// 		padding: 0;
// 	}

// 	img {
// 		display: block;
// 		width: 100%;
// 	}
// }
// #ambassadorsText {
// 	.userInput {
// 		figure {
// 			width: 100%;
// 			margin: 0;
// 			padding: 0;
// 			img {
// 				width: 100%;
// 			}
// 		}
// 	}
// }


.media-content {
	overflow: hidden;
}