#blogList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 50px;
	justify-content: space-between;
	max-width: 1440px;
	margin: 0 auto;

	.post {
		display: flex;
		flex-direction: column;
		width: 49%;
		height: 300px;
		margin-top: 50px;

		a {
			height: 100%;
			border: none;
			display: flex;
			text-decoration:  none;
		}

		@media (max-width: $breakpoint-tablet) {
			width: 100%;
			height: 300px;
		}

		.postInfo {
			display: flex;
			flex-direction: row;
			margin-top: 10px;

			@media (max-width: $breakpoint-tablet) {
				flex-direction: column;
			}
		}

		.postDate {
			color: gray;
			margin-right: 15px;
		}

		.postTitle {
			font-weight: bold;
		}

		// Background picture URLs are set via twig template
		.postPicture {
			@include backgroundPicture;
			height: 100%;
			width: 100%;
		}
	}
}