.shipping {
	display: flex;
	flex-direction: column;
	align-items: center;

	.narrowContent {
		min-height: 100vh;

		form {
			display: flex;
			flex-direction: column;
			padding-top: 20px;
		}

		form label {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom:30px;
		}

		form #selectShipping {
			margin-top: 44px;
		}
	}
}