#checkoutStart {
	.outer {
		min-height: 0;
	}

	.forgot-password {
		margin-top: 24px;
	}

	#guest {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 30px;

		a {
			text-align: center;
		}
	}
}

// .outer {
// 	display: flex;
// 	flex-direction: row;
// 	min-height: 100vh;

// 	.left {
// 		width: 50%;
// 		min-height: 100%;

// 		.inner {
// 			border-right: 1px solid $darkBlue;
// 		}
// 	}

// 	.right {
// 		width: 50%;
// 		min-height: 100%;
// 	}

// 	.inner {
// 		height: 100%;
// 		padding: 16px 64px;
// 	}

// 	form {
// 		display: flex;
// 		flex-direction: column;

// 		div {
// 			display: flex;
// 			flex-direction: column;
// 			margin-bottom: 30px;
// 		}

// 		label {
// 			color: gray;
// 		}
// 	}
// }