.payment {
	.twoColumns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		&.veticalSpacer {
			margin-top: 15px;
		}

		#expiry {
			display: flex;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			border-bottom: 1px solid $darkBlue;
		}

		#expiry select {
			border: none;
		}

		.column.half:first-child {
			@media (min-width: $breakpoint-desktop) {
				padding-right: 20px;
				margin: 0
			}
		}

		.column.half:last-child {
			@media (min-width: $breakpoint-desktop) {
				padding-left: 20px;
				margin: 0;
			}
		}
	}

	#radioGroup {
		label {
			margin-bottom: 15px;
			font-weight: bold;
			color: $darkBlue;
		}
	}

	.fieldError {
		margin: 0;
	}
}

.review {
	#cartItems {
		margin-top: 30px;
	}

	.twoColumns {
		margin-bottom: 20px;
	}

	// Product picture container
	.column.oneThird {

		div {
			@include backgroundPicture;
			height: 100px;
		}
	}

	// Product info container
	.column.twoThirds {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		padding-left: 20px;

		div {
			display: flex;
			flex-direction: column;
		}
	}

	ul {
		padding: 0;

		li {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			list-style: none;
			margin-bottom: 10px;
		}
	}

	#priceDetails {
		padding: 15px 0;
		margin: 50px 0 20px 0;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);

		li span {
			text-align: right;
		}

		li:last-child {
			margin: 0;
		}
	}

	#taxNotice {
		width: 60%;
		color: $gray-dark;
		font-size: 0.9em;
	}
}

#paymentValidation {
	display: flex;
	flex-direction: row;
	justify-content: center;

	#payButton {
		max-width: 600px;
		width: 100%;
		margin-top: 100px;
	}
}