#checkoutAddresses {
	div#guestEmail {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-top: 20px;
		margin-bottom: 24px;
		@media (min-width: $breakpoint-tablet) {
			width: 48%;
		}

		label {
			color: gray;
		}
	}

	.addressContainer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	div#confirmAddresses {
		padding: 20px 0;
		display: flex;
		flex-direction: row;
		justify-content: center;

		input {
			max-width: 600px;
			width: 100%;
		}
	}

	div.customerAddress {
		display: flex;
		width: calc(100% / 4 - 15px);
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 15px;
		margin-right: 15px;
		border: 1px solid #eee;
		border-radius: 4px;

		@media (max-width: $breakpoint-widescreen) {
			width: calc(100% / 2 - 15px);
		}

		@media (max-width: $breakpoint-tablet) {
			width: 100%;
			margin-right: 0;
		}

		.radio {
			order: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;

			input {
				margin: 5px;
			}
		}

		.actions {
			order: 1;
			padding: 10px;
		}

		ul {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;
		}

		li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			list-style: none;
			margin-left: 10px;
		}
	}
}

.BillingAddress {
	margin-top: 42px;
}