#contactForm {
	form {
		display: flex;
		flex-direction: column;

		.inputAnimation {
			padding: 10px 0px;

			label {
				color: gray;
			}

			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
		}
	}
}
.confirmation-container {
	.narrowContent {
		max-width: 90%;
	}
}
.confirmation-content   {
	margin-top: -120px;
	background: #FFF;
	padding: 32px;
	text-align: center;
}
.confirmation-image {
	max-width: 100%!important;
}