//  Styles for customer/edit.twig

#editAddress {
	#saveAddress {
		display: block;
		max-width: 600px;
		width: 100%;
		margin: 20px auto 0 auto;
	}

	#cancelButton {
		border: none;
		margin: 0 auto;
		padding: 20px;
	}
}