// ------------------------------ Landing page content -----------------------------//

body.home {
	background-color: $darkBlue;

}

.home-container {
	@include homeContainer;
	background-size: cover;
	background-repeat: no-repeat;
	height: calc(100vh + 8px);
	min-height: 667px;
	align-items: center;
	color: $white;
	margin-bottom: 8px;

	.subtitle, p {
		font-size: 1.2em;
		line-height: 1.6em;
		margin: 0 0 2em 0;
		max-width: 400px;
	}
}
.home-content {
	position: relative;
	z-index: 20;
	h1 {
		color: $white;
	}

}

#main {
	@include backgroundPicture;
	position: relative;

	.loader-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba($darkBlue, .7);
		z-index: 1;
	}
	#logoContainer {
		margin-top: 16px;
		margin-bottom: 16px;
		svg {
			height: 72px;

			@media (min-width: $breakpoint-tablet) {
				height: 72px;
			}
		}
	}

	.cp-content {

		a {
			width: 100%;
			display: flex;
			flex-direction: row;
			color: $highlightGreen;
			padding-left: 0;
			transition: 0.3s;

			&:focus,
			&:hover,
			&:active {
				padding-left: 10px;
				opacity: 1;
			}
		}
	}

	// Factor this

	.home-content {

		a {
			color: $highlightGreen;

			&.actionButton {
				color: $darkBlue;
			}
		}
	}

	#scrollIndicator {
		position: absolute;
		display: flex;
		justify-content: center;
		left: 0;
		bottom: 16px;
		width: 100%;
		height: auto;
		z-index: 15;

		@media (min-width: $breakpoint-tablet) {
			padding: 0 64px;
		}

		button {
			background-color: rgba($darkBlue, 0);
			font-size: 0.8em;
			text-transform: uppercase;
			border: none;
			color: $white;
			outline: 0;
			opacity: 1;
			transition: 0.2s;

			&:hover {
				opacity: 0.5;
				cursor: pointer;
			}

			span {
				margin-left: 8px;
			}

			svg {
				animation: updown 3s;
				animation-delay: 2s;
			}
		}
	}
}

@keyframes updown {
	0%, 100% {
		transform: translatey(-5px);
	}

	50% {
		transform: translatey(5px);
	}
}

// ------------------------------ Products ------------------------------
.featuredProduct {
	position: relative;
	align-items: start;
	flex-direction: column;
	justify-content: space-between;

	.home-content {
		margin-top: 40px;
	}

	// .markerContainer {
	// 	display: flex;
	// 	flex-direction: column;
	// 	justify-content: flex-end;
	// 	width: 100%;
	// 	height: 100%;
	// 	box-sizing: border-box;
	// 	padding: 64px 0;
	// 	z-index: 220;

	// 	@media (max-width: $breakpoint-desktop) {
	// 		padding: 32px 0;
	// 	}
	// 	@media (max-width: $breakpoint-tablet) {
	// 		padding: 16px 0;
	// 	}
	// }
	.markerContainer {
		background: rgba($black, .4);
		padding: 24px;
		margin-bottom: 16px;
		width: 100%;
		z-index: 600;
		@media (min-width: $breakpoint-desktop) {
			background: rgba($black, 0);
		}
		.infoMarker:last-child  {
			margin-bottom: 0;
			.info-link {
				display: block;
				margin-top: 16px;
				text-align: center;

				@media (min-width: $breakpoint-desktop) {
					margin-top: 0;
				}
			}
		}
	}
	.infoMarker {
		margin-bottom: 16px;
		@media (min-width: $breakpoint-desktop) {
			position: absolute;
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			background :rgba($darkBlue, 0);
			border-radius: 20px;
			padding-right: 16px;
			width: 50px;
			height: 40px;
			overflow: hidden;
			transition: .3s all ease-in;
			&:hover {
				transform-origin: 50% 50%;
				height: 60px;
				border-radius: 4px;
				width: 370px;
				background:rgba($darkBlue, .9);
				transition: .3s all ease-in;

			}
			&.ripstop {
				left: 68%;
				top: 35%;
			}
			&.bellyStraps {
				left: 60%;
				top: 58%;
			}
			&.crossingFrontStraps {
				left: 33%;
				top: 55%;
			}
			&.velcro {
				left: 35%;
				top: 45%;
			}
			&.ligamentSupport {
				left: 20%;
				top: 60%;

				@media (max-width: $breakpoint-widescreen) {
					left: 14%;
				}
			}
			&.foam {
				left: 65%;
				top: 70%;
			}
			&.wash {
				left: 68%;
				top: 55%;
			}
			&.last {
				left: 44%;
				top: 20%;
			}
		}
	}
	.info-number {
		display: none;
		@media (min-width: $breakpoint-desktop) {
			display: block;
			background: $orange;
			width: 40px;
			height: 40px;
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 8px;
			flex-shrink: 0;
			font-weight: bold;
			transition: .2s all linear;
			transform-origin: 50% 50%;
		}
	}
	.info-description {
		font-weight: bold;
		text-align: center;
		margin-right: 8px;
		font-size: $size-7;
		@media (min-width: $breakpoint-desktop) {
			width: 220px;
			min-width: 230px;
			text-align: left;
		}
	}
	.info-link {
		display: none;
		white-space: nowrap;
		a {
			color: $secondary;
		}
		@media (min-width: $breakpoint-desktop) {
			display: block;
		}
	}
	// .infoMarker {

	// 	margin-bottom: 2px;
	// 	border-radius: 4px;
	// 	padding: 16px;
	// 	background: rgba($white, .8);
	// 	box-shadow: none;
	// 	display: flex;
	// 	align-items: center;
	// 	overflow: hidden;
	// 	transition: .3s all linear;


	// 	@media (min-width: $breakpoint-desktop) {
	// 		margin-bottom: 0;
	// 		position: absolute;
	// 		width: 40px;
	// 		height: 40px;
	// 		background: rgba(255,255,255,0);
	// 		display: flex;
	// 		align-items: center;
	// 		p {
	// 			width: 220px;
	// 			opacity: 0;
	// 		}
	// 		&:hover {
	// 			transition: .3s all linear;
	// 			padding: 10px 100px 10px 24px;
	// 			height: auto;
	// 			background: rgba(255,255,255,1);
	// 			width: 380px;
	// 			height: 100px;

	// 			p {
	// 				opacity: 1;
	// 				transition: .3s all linear;
	// 				transition-delay: 0.3s;
	// 			}

	// 			.marker {
	// 				width: 80px;
	// 				span {
	// 					transform: translateX(200px);
	// 					transition: .3s all linear;
	// 				}
	// 				.more {
	// 					transition: .3s all linear;
	// 					transform: translateX(0);
	// 				}

	// 			}
	// 		}
	// 	}

	// 	&.ripstop {
	// 		left: 68%;
	// 		top: 35%;
	// 	}

	// 	&.bellyStraps {
	// 		left: 60%;
	// 		top: 58%;
	// 	}

	// 	&.crossingFrontStraps {
	// 		left: 33%;
	// 		top: 55%;
	// 	}

	// 	&.velcro {
	// 		left: 35%;
	// 		top: 45%;
	// 	}

	// 	&.ligamentSupport {
	// 		left: 20%;
	// 		top: 60%;

	// 		@media (max-width: $breakpoint-widescreen) {
	// 			left: 14%;
	// 		}
	// 	}

	// 	&.foam {
	// 		left: 65%;
	// 		top: 70%;
	// 	}

	// 	&.wash {
	// 		left: 68%;
	// 		top: 55%;
	// 	}

	// 	p {
	// 		color: $darkBlue;
	// 		margin: 0;
	// 		line-height: 18px;
	// 		transition: .3s all linear;
	// 	}

	// 	.marker {
	// 		position: absolute;
	// 		right: 0;
	// 		top: 0;
	// 		justify-content: center;
	// 		align-items: center;
	// 		box-shadow: 0 0 25px rgba(0, 0, 4px, 0.15);
	// 		line-height: 21px;
	// 		border-radius: 50px;
	// 		width: 40px;
	// 		height: 40px;
	// 		background-color: $orange;
	// 		transition: all 0.3s linear;
	// 		overflow: hidden;
	// 		display: none;
	// 		@media (min-width: $breakpoint-desktop) {
	// 			display: flex;
	// 		}
	// 		span {
	// 			text-align: center;
	// 			color: $white;
	// 			font-size: 16px;
	// 			transform: translateX(0);
	// 			transition: .3s all linear;
	// 		}
	// 		.more {
	// 			position: absolute;
	// 			color: $darkBlue;
	// 			font-size: 1em;
	// 			text-align: center;
	// 			font-size: 0.8em;
	// 			text-transform: uppercase;
	// 			text-decoration: none;
	// 			transition: .3s all linear;
	// 			transform: translateX(-140px);
	// 		}
	// 	}
	// }
}

// ------------------------------ Featured blog post ------------------------------
.featuredPost {
	@include backgroundPicture;
	border-bottom: 0;

	.home-content .iconicLink span {
		margin-right: 16px;
	}
}