// #loginForm {
// 	form {
// 		display: flex;
// 		flex-direction: column;

// 		div {
// 			display: flex;
// 			flex-direction: column;
// 			width: 100%;
// 			margin-bottom: 20px;
// 		}

// 		label {
// 			color: gray;
// 		}
// 	}

// 	a {
// 		color: $darkBlue;
// 	}
// }