#orderOverview {
	h1 {
		text-align: center;
	}

	#customerInfo {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin: 20px 0 60px 0;

		h4 {
			margin-bottom: 20px;
			border-bottom: 1px solid $border-color;
			width: 100%;
			padding-bottom: 5px;

		}

		li {
			list-style: none;
		}

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin-bottom: 40px;
		}

		div:last-child {
			margin-bottom: 0;
		}

		@media (min-width: $breakpoint-tablet) {
			flex-wrap: nowrap;

			div {
				width: auto;
				margin-bottom: 0;
				margin-left: 40px;
			}

			div:first-child {
				margin-left: 0;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	th.rightAlign,
	td.rightAlign {
		text-align: right;
	}

	#buttonContainer {
		max-width: 600px;
		width: 100%;
		margin-top: 60px;
	}

	a.actionButton {
		display: block;
		width: 100%;
	}
}