#partnerText {
	margin-top: 60px;
}

#partners {
	display: flex;
	justify-content: center;
	flex-direction: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;

	@media (min-width: $breakpoint-tablet) {
		justify-content: space-between;
	}
}

.partner-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 16px;
	@include tablet() {
		width: 50%;
	}
	@include desktop() {
		width: 25%;
	}
	@media (min-width: $breakpoint-tablet) {
		padding: 0;
	}

	img {
		display: block;
		width: 100%;
		padding: 1rem;
	}
}