.pageBanner {
	max-width: 960px;
	height: 480px;
}

#blogPost {
	margin-top: 64px;
	max-width: 760px;
	#postInfo {
		border-bottom: 1px solid $border-color;
	}

	#postTitle {
		margin-top: 16px;
	}


	.share {
		.share-label {
			color: $border-color;
		}

		.shareIcons {
			margin: 16px 0px;
			display: flex;
			flex-direction: row;
		}

		.icon {
			width: 24px;
			height: 24px;
			margin-right: 8px;
			cursor: pointer;
		}
	}

	#titleSeparator {
		margin: 15px 0 40px 0;
	}
}

#nextPost {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	transform: translateX(0);
	opacity: 1;
	transition: all 0.3s;
	.next-post-container {
		padding: 32px 0;
		margin: 0 auto;
		max-width: 760px;
		width: 100%;
	}
	.next-post-image {
		height: 200px;
		background-size: cover;
		background-position: center center;
		margin: 16px 0;
		max-width: 400px;
	}
	.next-post-title {
		font-size: 1.5rem;
		text-decoration: none;
		border-bottom: none;
	}
	.next-post-content {
		text-decoration: none;
	}

}