.product-cart {
	width: 100%;
	position: relative;
	@media (min-width: $breakpoint-desktop) {
		width: 240px;
	}
	// form {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }
}

.product-image {
	@include backgroundPicture;
	width: 100%;
	height: 240px;

	@media (min-width: $breakpoint-desktop) {
		height: 600px;
	}
}

.product-share {
	border-top: 1px solid $border-color;
	padding-top: 16px;
	display: flex;

	.share-label {
		margin-right: 32px;
	}
	.share-icons {
		.icon {
			margin: 0 .5rem;
			cursor: pointer;
		}
		&:hover {
			.icons {
			}
		}
	}
}

.product-patent {
	img {
		height: 32px;
	}
}

#productParams {

	width: 100%;
	margin-bottom: 40px;
	// transform: translateY(64px);
	box-shadow: 0 6px 24px rgba(0,0,0,.3);
	z-index: 20;

	@media (min-width: $breakpoint-desktop) {
		// transform: translateY(64px);
	}

	form {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 16px;
		margin: 0;

		#variantSelect {
			display: none;
		}
	}

	div {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	div.numberSpinner.updateItemQuantity {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		border-bottom: 1px solid $font-color;

		button {
			color: $white;
		}
	}

	label {
		font-size: 0.8em;
	}

	input {
		// width: 100%;
	}
}



