.productHilightLink {
	background-color: $darkBlue;
	text-decoration: none;
	&:hover {

		opacity: 1;
	}

	.productHighlight {

		@include backgroundPicture;

		height: 300px;
		padding: 40px 30px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		transition: 0.3s;
		background-size: 100%;

		&:hover {
			background-size: calc(100% + 60px);
			opacity: 0.5;
		}

		.highlightTitle {
			margin: 15px 0;
			color: $white;
		}

		.highlightPrice {
			font-size: 12pt;
			font-weight: bold;
			color: $white;
		}

		a {
			color: $white;
			border: none;

			&:hover {
				opacity: 1;
			}
		}
	}
}

#productList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 50px;
	justify-content: space-between;

	.product {
		display: flex;
		flex-direction: column;
		width: 24%;
		height: 300px;
		margin-top: 50px;

		.imageLink {
			height: 100%;
			border: none;
			display: flex;
			background-color: $darkBlue;
			overflow: hidden;

			.productPicture {
				background-size: cover;
				transform: scale(1);
				transition: 0.3s ease;
			}

			&:hover {
				opacity: 1;

				.productPicture {
					transform: scale(1.1);
					opacity: 0.5;
				}
			}
		}

		@media (max-width: $breakpoint-widescreen) {
			width: 49%;
			height: 300px;
		}

		@media (max-width: $breakpoint-tablet) {
			width: 100%;
			height: 300px;
		}

		#productInfo {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 15px;
		}

		.productTitle {
			font-weight: bold;
			border: none;
			text-decoration: none;
		}

		// Background picture URLs are set via twig template
		.productPicture {
			@include backgroundPicture;
			height: 100%;
			width: 100%;
			background-size: 100%;
			transition: 0.3s;
		}
	}
}