{#
The purpose of this macro is to generate a simple pagination that will at the very least display
'next' and 'previous' page links.

Parameters:
- pageInfo: the ElementCriteriaModel holding the content to paginate
- displayPageNumbers (boolean):  indicates whether page number links should be displayed
- limit (int or null otherwise): the amount of page number links to display. If null is specified, the maximum amount will be displayed.
- displayCurrentPage (boolean): indicates whether a current page link should be displayed
- displayFirstAndLast (boolean): indicates whether a first and last page link should be displayed
#}

{% macro paginate(pageInfo, displayPageNumbers, limit, displayCurrentPage, displayFirstAndLast) %}

	<div class="pagination">
		{% if displayFirstAndLast %}<a href="{{ pageInfo.firstUrl }}">{{'First Page'|t}}</a>{% endif %}

		{% if pageInfo.prevUrl %}<a href="{{ pageInfo.prevUrl }}">{{ 'Previous Page'|t }}</a>{% endif %}

		{% if displayPageNumbers %}
			{% for page, url in pageInfo.getPrevUrls(limit) %}
				<a class="pageNumber" href="{{ url }}">{{ page }}</a>
			{% endfor %}
		{% endif %}

		{% if displayCurrentPage %}
			<span class="current">{{ pageInfo.currentPage }}</span>
		{% endif %}

		{% if displayPageNumbers %}
			{% for page, url in pageInfo.getNextUrls(limit) %}
				<a class="pageNumber" href="{{ url }}">{{ page }}</a>
			{% endfor %}
		{% endif %}

		{% if pageInfo.nextUrl %}<a href="{{ pageInfo.nextUrl }}">{{ 'Next Page'|t }}</a>{% endif %}

		{% if displayFirstAndLast %}<a href="{{ pageInfo.lastUrl }}">{{ 'Last Page'|t }}</a>{% endif %}
	</div>
{% endmacro %}