{% set showNav = false %}

{% extends 'newshop/_layouts/main' %}

{% block header %}
	<div id="header" class="container">
		<div class="row">
			<div class="twelve columns">
				<!-- <a href="{{ url('newshop') }}">{%- include "newshop/_images/logo" with {'class': 'logo'} -%}</a> -->

				<div class="flash">{{ craft.session.getFlash('notice') }}</div>
				<div class="flash">{{ craft.session.getFlash('error') }}</div>

				{% if cart.isEmpty %}
					<div class="flash">{{'Your cart is empty.'|t}}</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}


{% block main %}

	{% include 'newshop/_includes/meter' %}

	{% block content %}

	{% endblock %}

{% endblock %}
