<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>{{ "Craft Commerce"|t }}</title>

	<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>

	<link rel="stylesheet" type='text/css' href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600'>
	<link rel="stylesheet" type='text/css' href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" type='text/css' href="{{ url('newshop/style.css') }}">

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% set cart = craft.commerce.cart %}

{% block header %}
	<div id="header" class="container">
		<div class="row">
			<div class="twelve columns">
				<!-- <a href="{{ url('newshop') }}">{%- include "newshop/_images/logo" with {'class': 'logo'} -%}</a> -->

				{% include "newshop/_includes/nav" %}

				<div class="flash notice">{{ craft.session.getFlash('notice') }}</div>
				<div class="flash error">{{ craft.session.getFlash('error') }}</div>

				<div class="row">
					<div class="twelve columns">
						{% for error in cart.errors %}
							<div class="flash cartError">{{ error|join(' ') }}</div>
						{% endfor  %}
					</div>
				</div>


			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div id="main" class="container">
		{% block main %}
			<div class="row">
				<div class="twelve columns">
					<h4>Default Content</h4>
					<p>You should not see this.</p>
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock %}
</body>
</html>
