<div class="notifications">
	{% set flashNotice = craft.session.getFlash('notice') %}
	{% set flashError = craft.session.getFlash('error') %}
	{% set flashCartError = craft.session.getFlash('cartError') %}

	{% if flashNotice %}
		<div class="flash notice">{{ flashNotice }}</div>
	{% endif %}

	{% if flashError %}
		<div class="flash error">{{ flashError }}</div>
	{% endif %}

	{% for error in cart.errors %}
		<div class="flash cartError">{{ error|join(' ') }}</div>
	{% endfor %}

	{# TODO: limit to checkout pages! #}
	{% if cart.isEmpty %}
		<div class="flash cartError">Your cart is empty.</div>
	{% endif %}
</div>

{% includejs %}
	// Dynamic notifications
	const flashNotices = $('.flash.notice');
	const flashErrors = $('.flash.error');
	const cartErrors = $('.flash.cartError');

	const errors = [flashErrors, cartErrors];

	_.each(errors, (elem) => {
		elem.on('click', (e) => {
			$(e.target).hide();
		});
	});

	function fade(target, duration) {
		window.setTimeout(() => {
			TweenLite.to(target, 3, {
				opacity: '0',
			});
		}, duration);
	}

	fade(flashNotices, 3000);
	// fade(flashErrors, 3000);

{% endincludejs %}