{#
Outputs the cart item subtotal with the right currency using appropriate formatting.
This template is meant to be requested using AJAX
#}

{% set cart = craft.commerce.cart %}

{{ (cart.itemSubTotal + (cart.itemSubTotal * 0.2))|commerceCurrency(cart.currency) }} {{ 'incl. taxes'|t }}