{#
Outputs a product line (product picture, price, quantity etc.) in the the cart.
This template is based on sideCart.twig and is meant to be requested using AJAX
#}

{% set cart = craft.commerce.cart %}

{% set purchasableId = craft.request.getParam('purchasableId') %}

{# Get the line item model for the product matching purchasableId #}

{% set newItem = null %}

{% for item in cart.lineItems if item.purchasable.id == purchasableId %}
	{% set newItem = item %}
{% endfor %}

{# Product url #}
{% set productUrl = url('newshop/products') ~ '/' ~ newItem.purchasable.product.slug %}

{% set lineItemHasErrors = false %}

{% if newItem.hasErrors() %}
	{% set lineItemHasErrors = true %}
{% endif %}

{# Macro that generates quantity inputs #}
{% import "newshop/macros/quantityInput" as quantityInput %}

<div class="product" data-purchasable-id="{{ newItem.purchasable.id }}">
	<div class="twoColumns">
		<div class="column half">
			<a href="{{ productUrl }}" class="productLink">
				<div class="productImage" style="background-image: url({{ newItem.purchasable.productImage.first().url }});"></div>
			</a>
		</div>

		<div class="productControl column half">
			<svg class="removeItem" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				<!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
				<title>Fail</title>
				<desc>Created with Sketch.</desc>
				<defs></defs>
				<g id="Cross" transform="translate(7.304348, 7.304348)" opacity="0.4" stroke="#191935">
					<path d="M0,0 L9.39130435,9.39130435" id="Shape"></path>
					<path d="M0,9.39130435 L9.39130435,0" id="Shape"></path>
				</g>
			</svg>

			{# Remove item form #}
			<form class="removeItemForm" method="POST" data-subtotal-url="{{ url('newshop/ajax/_cartSubtotal') }}">
				<input type="hidden" name="action" value="commerce/cart/removeLineItem"/>
				{# <input type="hidden" name="redirect" value="test/newcart"/> #}
				<input type="hidden" name="lineItemId" value="{{ newItem.id }}"/>
				{{ getCsrfInput() }}

				{# <input type="submit" class="button link" value="Remove"/> #}
			</form>
		</div>
	</div>

	<div class="productTitle">
		<a href="{{ productUrl }}" class="productLink">
			<h4>
				{{ newItem.purchasable.title }}
			</h4>
		</a>
	</div>

	<div class="unitPrice">
		<div class="twoColumns">
			<div class="price column twoThirds">
				{% if not lineItemHasErrors %}
					<span>{{ (newItem.salePrice + (newItem.salePrice * 0.2))|commerceCurrency(cart.currency) }} {{ 'incl. taxes'|t }}</span>
				{% endif %}
			</div>

			<div class="productControl quantity column oneThird">
				{# Update item quantity form #}
				<form class="updateQuantityForm" method="POST" data-subtotal-url="{{ url('newshop/ajax/_cartSubtotal') }}">
					<input type="hidden" name="action" value="commerce/cart/updateLineItem">
					{# <input type="hidden" name="redirect" value="test/newcart"> #}
					<input type="hidden" name="lineItemId" value="{{ newItem.id }}">
					{{ getCsrfInput() }}

					<div class="numberSpinner updateItemQuantity">
						<button class="sideCart decrementButton">-</button>
						{{ quantityInput.build(newItem.purchasable, newItem.qty, null, 'sideCart spinner', false) }}
						<button class="sideCart incrementButton">+</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
