{#
Outputs the price of the product variant according to the variantId and includesTax URL parameters.
e.g. http://yourHost/proconf/en/newshop/ajax/variantPrice?variantId=233&includesTax=1
This template is meant to be requested using AJAX
#}

{% set cart = craft.commerce.cart %}

{% set variantId = craft.request.getParam('variantId') %}
{% set includesTax = craft.request.getParam('includesTax') %}

{# Get the price for the selected product variant on product page #}
{% for product in craft.commerce.products.type('accessories') %}
	{% for variant in product.variants if variant.id == variantId %}
		{{ (variant.salePrice + (variant.salePrice * 0.2))|commerceCurrency(cart.currency) }} {{'incl. taxes'|t}}*
	{% endfor %}
{% endfor %}
