{% extends '_layout' %}
{% set title = 'Address management'|t %}

{% block content %}

	{% set addressId = craft.request.param('addressId') %}
	{% set redirect = craft.request.param('redirect') %}

	{% if not address is defined and addressId %}
		{% set address = craft.commerce.customer.address(addressId) %}
	{% endif %}

	<div id="editAddress" class="pageContent">
		<div id="customerNav">
			{% include "newshop/_includes/nav" %}
		</div>

		{% include "newshop/_layouts/notifications" %}

		<form method="post" class="paddedContainer">
			{{ getCsrfInput() }}
			<input type="hidden" name="action" value="commerce/customerAddresses/save">
			{% if redirect %}
				<input type="hidden" name="redirect" value="{{ redirect }}">
			{% else %}
				<input type="hidden" name="redirect" value="newshop/customer/addresses">
			{% endif %}

			{% if addressId %}
				<input type="hidden" name="address[id]" value="{{ addressId }}">
			{% endif %}

			{% include 'newshop/_includes/addresses/form' %}

			<input type="submit" id="saveAddress" class="actionButton buttonShadow" value="{{ 'Save Address'|t }}">
		</form>

		{% if redirect %}
			<a href="{{ url( redirect ) }}" id="cancelButton">{{ 'Cancel'|t }}</a>

			{# Link provided by the example. Bugs out due to the / #}
			{#<a href="/{{ redirect }}">{{ 'Cancel'|t }}</a>#}
		{% else %}
			<a href="{{ url('newshop/customer/addresses') }}" id="cancelButton">{{ 'Cancel'|t }}</a>
		{% endif %}
	</div>

{% endblock %}
