{% extends '_layout' %}
{% set title = 'My addresses'|t %}

{# Generate language links to be used within '_layouts/_language' #}
{% set languageLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/customer/addresses',
		'fr': craft.config.siteUrl['fr'] ~ '/client/mes-adresses'
	}
%}

{% block content %}


<div class="address-index pageContent">
	<div class="narrowContainer ">
		{% include "newshop/_includes/nav" %}
		<h1>{{ 'Manage Addresses'|t }}</h1>

		<a class="button button-primary right" href="{{ url('newshop/customer/addresses/edit') }}">{{ 'Add New Address'|t }}</a>
		<div class="container">
			{% for address in craft.commerce.customer.addresses %}

			<div class="address-card">
				{% include 'newshop/_includes/addresses/address' with {'address': address} %}
				<div class="action-bar">
					<a class="button button-primary" href="{{ url('newshop/customer/addresses/edit') }}?addressId={{ address.id }}">{{ 'Edit'|t }}</a>
					<form method="POST">
						{{ getCsrfInput() }}
						<input type="hidden" name="action" value="commerce/customerAddresses/delete">
						<input type="hidden" name="id" value="{{ address.id }}"/>
						<input type="submit" class="link-primary" value="{{ 'delete'|t }}"/>
					</form>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
