.addressBox {
	.row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;

		.columns {
			padding: 20px 0;
		}

		.six.columns {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media (min-width: $breakpoint-tablet) {
				width: 48%;
			}
		}

		.three.columns {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media (min-width: $breakpoint-tablet) {
				width: 22%;
			}
		}
	}

	label {
		color: gray;
	}
}

.address-index {
	.container {
		margin-top: 24px;
		width: 100%;
	}
	.address-card {
		border: 1px solid $border-color;
		padding: 16px;
		margin-bottom: 16px;
	}
	.address-data {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-bottom: 16px;
	}
	.action-bar {
		display: flex;
		* {
			margin-right: 16px;

		}

	}

}
