#checkoutNav {
	@include defaultContainer;
	.steps {
		margin-bottom: 32px;
		width: 100%;
		overflow: hidden;
		@media (min-width: $breakpoint-tablet) {
			margin-bottom: 32px;

		}
	}
	ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		padding: 0;
		min-width: 510px;
	}

	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style: none;
		font-size: 1em;

		svg {
			width: 1em;
			height: 1em;
			margin: 0 1em;
		}

		@media (min-width: $breakpoint-tablet) {
			font-size: 15px;

			svg {
				width: 16px;
				height: 16px;
				margin: 0 24px;
			}
		}

		a {
			color: $border-color;
			opacity: 0.6;
			border: none;
			text-decoration: none;
		}

		a.currentStep {
			color: $darkBlue;
			opacity: 1;
			font-weight: bold;

		}
	}
}