.customerNav {
	width: 100%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 40px;

	@media (min-width: $breakpoint-tablet) {
		justify-content: flex-end;
	}

	a.active {
		color: $darkBlue;
	}

	a {
		color: gray;
		border: none;
	}
}