footer {
	position: relative;
	background-color: $darkBlue;
	color: $white;
	line-height: 1.6em;

	li {
		margin-bottom: 8px;
	}

	li:last-child {
		margin-bottom: 0;
	}

	a {
		color: $white;
		text-decoration: none;
		&:hover {
			color: $white;
			opacity: .5;
		}
	}

	h4 {
		text-transform: uppercase;
		margin-bottom: 16px;
	}

	#upperInfo {
		padding: 48px 0;
		border-bottom: 1px solid rgba($white, 0.2);

		@media (max-width: $breakpoint-desktop) {
			flex-wrap: wrap;
		}
		p {
			margin: 0;
		}

		.footerInfo {
			padding: 0 16px;
			margin-bottom: 48px;
			max-width: 260px;

			@media (max-width: $breakpoint-desktop) {
				width: calc(100% / 3);
			}

			@media (max-width: $breakpoint-tablet) {
				width: 50%;

				&#about,
				&#storeParis,
				&#storeLancy {
					width: 100%;
				}


			}
		}
	}

	#lowerInfo {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-top: 24px;
		flex-wrap: wrap;

		div {
			width: 100%;
			margin-bottom: 40px;
			text-align: center
		}

		div:last-child {
			margin-bottom: 0;
		}

		@media (min-width: $breakpoint-tablet) {
			flex-wrap: nowrap;

			div {
				width: auto;
				margin-bottom: 0;
			}
		}
	}

	#footerLogo {
		margin-left: 0;
		margin-right: 0;

		@media (min-width: $breakpoint-tablet) {
			margin: 0 100px;
		}

		svg {
			height: 50px;
		}
	}
}