header {
	position: fixed;
	width: 100%;
	z-index: 3000;

	.paddedContainer {

		box-sizing: content-box;
	}

	// Dark header version for dark backgrounds
	&.dark {
		background-color: transparent;

		.paddedContainer {
			background-image: linear-gradient(to bottom, rgba($darkBlue, 0.8 ), rgba($darkBlue, 0.0));
			padding-bottom: 50px;
		}

		#navContent {
			border-bottom: 1px solid rgba(255, 255, 255, .35);
		}

		#burgerMenu {
			cursor: pointer;
			div {
				background-color: $white;
			}
		}

		a {
			color: $white;
			text-decoration: none;
		}

	// SVG coloring is handled in the header.twig
}

	// Light header version for light backgrounds
	&.light {
		background-color: $white;

		#navContent {
			border-bottom: 1px solid $border-color;
		}

		#burgerMenu {
			div {
				background-color: $darkBlue;
			}
		}

		a {
			color: $darkBlue;
			text-decoration: none;

		}

	// SVG coloring is handled in the header.twig
}

&.landing.light {
	background-color: rgba($white, 0);

	.paddedContainer {
		padding-bottom: 50px;
		background-image: linear-gradient(to bottom, rgba($darkBlue, 0.9 ), rgba($darkBlue, 0.0));
	}
}

nav {
	padding: 0 1rem ;
	@include desktop {
		padding: 0;
	}
	#navContent {
		position: relative;
		z-index: 6;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 0px 0;
		height: 50px;

		ul {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}

	#navigation {
		display: none;

		@media (min-width: $breakpoint-tablet) {
			display: block;
		}
	}

	img {
		width: 24px;
		height: 24px;
	}
}

#openMenu {
	width: 22px;

	@media (min-width: $breakpoint-tablet) {
		display: none;
	}
}

#closeMenu {
	width: 24px;
	height: 24px;

	@media (min-width: $breakpoint-tablet) {
		display: none;
	}
}

#burgerMenu {
	div {
		height: 2px;
		margin: 4px 0;
		background-color: $darkBlue;

		transform: rotate(0deg) translateY(0);
		opacity: 1;

		transition: 0.2s;
	}

	&.open {
		div.top {
			transform: rotate(45deg) translateY(9px);
		}

		div.mid {
			opacity: 0;
		}

		div.bot {
			transform: rotate(-45deg) translateY(-9px);
		}
	}
}

#mobileMenu.open {
	left: 0;
}

#navigation {
	li {
		margin-right: 48px;
	}
}

#account {

	li {
		margin-left: 24px;

		span {
			margin-right: 8px;
		}

		span.cartCount {
			margin-right: 8px;
		}
	}
}
.language-container {
	li {

		display: flex;
		align-items: center;
		justify-content: center;
		&:first-child {
			margin-left: 0!important;
		}
		&:last-child {
			margin-left: 12px!important;
		}
	}
	.languageLink {
		display: flex;
		opacity: .4;

		&.active {
			opacity: 1;
		}
	}
}
}