#mobileMenu {
		position: fixed;
		box-sizing: border-box;
		top: 0;
		left: -150vw;
		z-index: 5;
		width: 100%;
		height: 100vh;
		background-color: $white;
		padding: 50px  16px 0 16px;
		transition: all 0.3s;

		@media (min-width: $breakpoint-tablet) {
			display: none;
		}

		#menuContent {
			display: flex;
			flex-direction: column;
			height: 100%;

			li {
				height: 60px;
				text-align: center;
				border-bottom: 1px solid #E1E1E1;

				a {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					height: 100%;
					font-size: 15px;
				}
			}
		}

		#navigation {
			display: block;

			li {
				margin: 0;
			}
		}
	}