.notification {
	width: 100%;
	padding: 15px;
	color: $darkBlue;

	&.information {
		color: $white;
		background-color: #5887ff;
	}

	&.confirmation {
		background-color: #a3f7b5;
	}

	&.warning {
		background-color: #f7e5a3;
	}

	&.alert {
		background-color: #f7a3a3;
	}
}