.twoColumns {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	@media (min-width: $breakpoint-desktop) {
		flex-wrap: nowrap;
	}
	.column.half {
		width: 100%;
		margin-bottom: 16px;
		@media (min-width: $breakpoint-desktop) {
			width: 50%;
			margin-bottom: 0;
		}
	}

	.column.oneThird {
		width: 33.33%;
	}

	.column.twoThirds {
		width: 66.66%;
	}
}