// Style applied on pages that feature a two column layout

.outer {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	flex-wrap: wrap;

	@media (min-width: $breakpoint-tablet) {
		flex-wrap: nowrap;
	}

	.left {
		width: 100%;
		min-height: 100%;
		margin-bottom: 32px;
		.inner {
			border: none;
		}

		@media (min-width: $breakpoint-tablet) {
			width: 50%;
			margin-bottom: 0;
			.inner {
				border-right: 1px solid $border-color;
			}
		}
	}

	.right {
		width: 100%;
		min-height: 100%;

		@media (min-width: $breakpoint-tablet) {
			width: 50%;
		}
	}

	.inner {
		height: 100%;
		padding: 0px 16px;

		@media (min-width: $breakpoint-tablet) {
			padding: 16px 32px;
		}

		@media (min-width: $breakpoint-desktop) {
			padding: 16px 64px;
		}
	}

	form {
		display: flex;
		flex-direction: column;

		div {
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;
		}

		label {
			color: gray;
		}
	}
}