.notifications {
	position: fixed;
	bottom: 0;
	right: 8px;
	width: 180px;
	height: auto;
	z-index: 3000;

	.error, .cartError {
		background: $danger;
		padding: 16px 24px;
		border-radius: 4px;
		color: $font-color;
		margin-bottom: 16px;
		font-size: 0.8em;
	}
	.notice {
		background: $info;
		padding: 16px 24px;
		border-radius: 4px;
		color: $font-color;
		margin-bottom: 16px;
		font-size: 0.8em;
	}
}
.alert {
	&.error {
		background: $danger;
		padding: 16px 24px;
		border-radius: 4px;
		color: $font-color;
		margin-bottom: 16px;
		font-size: 0.8em;
	}
	&.margin-top {
		margin-top: 16px;
	}
}