.actionButton {
	display: inline-block;
	color: $darkBlue;
	background-color: $highlightGreen;
	text-align: center;
	border-radius: 2px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.2);
	cursor: pointer;
	border: none;
	font-size: 1em;
	transform: translateY(0);
	transition: 0.3s;
	padding: 16px 24px;
	position: relative;
	outline: 0;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(../../images/icons/arrow_right.svg);
		background-repeat: no-repeat;
		background-position: center;
		z-index: 20;
		opacity: 0;
		transition: .2s all ease-in;
		transform: translateX(-20px);
	}

	span {
		display: inline-block;
		transition: .2s all ease-in;
		position: relative;
		z-index: 40;
		transform: translateX(0);
	}
	&:focus,
	&:hover,
	&:active {
		opacity: 1;
		outline: 0;
		&:after {
			transition: .2s all ease-in;
			opacity: 1;
			transform: translateX(0);
		}
		span {
			transition: .2s all ease-in;
			opacity: 0;
			transform: translateX(20px);
		}
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.6;
		background-color: darken( $highlightGreen, 0% );
	}
}