// .card {
// 	position: absolute;
// 	width: 275px;
// 	height: auto;
// 	top: 400px;
// 	left: 600px;
// 	background-color: $white;
// 	color: $black;

// 	.cardText {
// 		padding: 15px 20px;

// 		p {
// 			line-height: 25px;
// 		}
// 	}
// }