.dropdown {
	@include baseInput;

	// 'Globally' disables dropdown arrows
	-webkit-appearance: none;
	-moz-appearance: none;

	// Get rid of IE built in dropdown arrow
	&::-ms-expand {
		display: none;
	}
}