.numberSpinner {
	display: flex;
	flex-direction: row;

	input {
		width: 50px;
		border: none;
		font-weight: bold;
		text-align: center;
		font-size: 13px;

		&:focus {
			outline: none;
		}

		// Get rid of browser-specific increment/decrement native arrows
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			margin: 0;
		}

		// Get rid of arrows on ffox
		-moz-appearance:textfield;
	}

	.decrementButton,
	.incrementButton {
		background-color: transparent;
		border: none;
		cursor: pointer;
		font-size: 20px;
		&:focus {
			outline: none;
		}
	}
}