#sideCart {
	position: fixed;
	right: -100vw;
	width: 100%;
	z-index: 8000;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $white;
	padding: 0 15px;
	box-shadow: -5px 0 50px rgba(0, 0, 0, 0);
	transition: all 0.35s ease;

	@media (min-width: $breakpoint-tablet) {
		width: 350px;
		right: -350px;
	}

	&.open {
		right: 0;
		box-shadow: -5px 0 50px rgba(0, 0, 0, 0.3);
	}

	#cartProducts {
		overflow-y: auto;
		padding: 24px 0;
	}

	#cartHeader {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #E1E1E1;
		min-height: 50px;
		height: 50px;

		strong {
			margin-left: 5px;
		}

		#closeCart {
			width: 25px;
			height: 25px;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			transform: scale(1);
			transition: 0.15s;

			div {
				height: 2px;
				background-color: $darkBlue;

				&.top {
					transform: translateY(13px) rotate(45deg);
				}

				&.bot {
					transform: translateY(-10px) rotate(-45deg);
				}
			}

			&:hover {
				transform: scale(0.8);
			}
		}
	}

	p#emptyCartMessage {
		color: gray;


	}

	.product {
		margin-bottom: 16px;

		.productImage {
			@include backgroundPicture;
			max-width: 160px;
			width: 100%;
			height: 100px;
		}

		.productControl {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
		}

		.productTitle {
			margin-top: 12px;
			font-size: 15px;
			a {
				text-decoration: none;
				border-bottom: none;
			}
			h4 {
				display: inline;
				text-decoration: none;
			}
		}

		.price {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.removeItem {
			height: 30px;
			cursor: pointer;
		}

		.unitPrice {
			margin-top: 12px;
		}

		.productUrl {
			display: inline;
		}
	}



	#cartFooter {
		padding: 15px 0;
		border-top: 1px solid #E1E1E1;
		margin-top: auto; // Sticks the footer to the cart bottom

		#cartTotal {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 20px;

			strong {
				font-size: 15px;
				font-weight: 700;
			}

			span {
				font-size: 15px;
			}
		}

		#checkoutButtonContainer {
			a {
				display: block;
			}
		}
	}
}