table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 50px;

	th,td {
		padding: 12px 15px;
		text-align: left;
	}

	tr {
		border-bottom: 1px solid #E1E1E1;
	}

	th:first-child,
	td:first-child {
		padding-left: 0;
	}

	th:last-child,
	td:last-child {
		padding-right: 0;
	}
}