{# Note the following urls work in combination with CP system routes (Setting > Routes) #}

{% set checkout = {'en': 'newshop/checkout', 'fr': 'newshop/checkout'} %}
{% set addresses = {'en': 'newshop/checkout/addresses', 'fr': 'newshop/checkout/adresses'} %}
{% set shipping = {'en': 'newshop/checkout/shipping', 'fr': 'newshop/checkout/livraison'} %}
{% set payment = {'en': 'newshop/checkout/payment', 'fr': 'newshop/checkout/paiement'} %}

{# Holds the current site language prefix i.e. 'en' or 'fr' #}
{% set lang = craft.locale %}

{% set steps = [
		{
			label: "Start Order"|t,
			url: checkout[lang],
			template: 'newshop/checkout'
		},
		{
			label: "Addresses"|t,
			url: addresses[lang],
			template: 'newshop/checkout/addresses'
		},
		{
			label: "Shipping"|t,
			url: shipping[lang],
			template: 'newshop/checkout/shipping'
		},
		{
			label: "Payment"|t,
			url: payment[lang],
			template: 'newshop/checkout/payment'
		}
	]
%}


	{% set pagePath = craft.request.path %}

	<div class="steps">
		<ul>
			{% for key, step in steps %}

			{% set class = '' %}

			{% if pagePath == step.template or pagePath == step.url %}
				{% set class = 'currentStep' %}
			{% endif %}

			<li>
				<a href="{{ url( step.url ) }}" class="{{ class }}">{{ step.label }}</a>

				{# Display an arrow icon as long as the current item isn't the last #}
				{% if key != steps|length - 1 %}
				<svg class="icon" viewBox="0 0 18 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
					<title>Arrow</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="Home" transform="translate(-145.000000, -630.000000)" stroke="#E6E6E6" stroke-width="2" fill="#E6E6E6">
							<g id="text" transform="translate(48.000000, 118.000000)">
								<g id="Arrow" transform="translate(98.709788, 513.000000)">
									<path d="M8.4469542,13 C8.3842054,13 8.3214566,12.974 8.27801512,12.9272 C8.1814785,12.8232 8.1814785,12.6568 8.27801512,12.558 L13.8964464,6.5 L8.27801512,0.4472 C8.1814785,0.3432 8.1814785,0.1768 8.27801512,0.078 C8.36972491,-0.026 8.5241835,-0.026 8.61589328,0.078 L14.4080905,6.318 C14.5046271,6.4168 14.5046271,6.5832 14.4080905,6.6872 L8.61589328,12.9272 C8.57245181,12.974 8.509703,13 8.4469542,13" id="Fill-5690"></path>
									<path d="M14.2391514,6.76 L0.241341549,6.76 C0.106190281,6.76 0,6.6456 0,6.5 C0,6.35908 0.106190281,6.24 0.241341549,6.24 L14.2391514,6.24 C14.3743026,6.24 14.4804929,6.35908 14.4804929,6.5 C14.4804929,6.6456 14.3743026,6.76 14.2391514,6.76" id="Fill-5691"></path>
								</g>
							</g>
						</g>
					</g>
				</svg>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
