<div class="customerNav">
	<nav>
		{% set page = craft.request.lastSegment %}

		<span>
			{% if currentUser %}
				<a href="{{ url('newshop/customer') }}" {% if page == 'customer'%} class="active" {% endif %}>{{ "My Orders"|t }}</a>
				— <a href="{{ url('newshop/customer/addresses') }}" {% if page == 'addresses'%} class="active" {% endif %}>{{ "My Addresses"|t }}</a>
				— <a href="{{ logoutUrl }}">{{ 'Logout'|t }}</a>
			{% else %}
				{{ "Guest"|t }}
			{% endif %}
		</span>
	</nav>
</div>
