{% set productIndex = craft.entries.section('productIndex').first().uri %}

<div id="cartHeader">
	<div>
		<span>{{'My cart'|t}} </span> <strong id="sideCartCount">{{ cart.lineItems|length }}</strong>
	</div>

	{# Close button #}
	<div id="closeCart">
		<div class="top">
		</div>
		<div class="bot">
		</div>
	</div>
</div>

{% set showFooter = true %}

{# Macro that generates quantity inputs #}
{% import "newshop/macros/quantityInput" as quantityInput %}

<div id="cartProducts">
	{% if cart.lineItems|length %}
	{% set lineItemHasErrors = false %}
	{% for item in cart.lineItems %}
	{% if item.hasErrors() %}
	{# if the line item has errors lets record it so we can hide totals later (since they wont make sense) #}
	{% set lineItemHasErrors = true %}
	{% set showFooter = false %}
	{% endif %}

	{# Product url #}
	{% set productUrl = url(productIndex ~ '/' ~ item.purchasable.product.slug) %}

	<div class="product" data-purchasable-id="{{ item.purchasable.id }}">
		<div class="twoColumns">
			<div class="column half">
				<a href="{{ productUrl }}" class="productLink">
					<div class="productImage" style="background-image: url({{ item.purchasable.productImage.first().url }});"></div>
				</a>
			</div>

			<div class="productControl column half">
				<svg class="removeItem" viewBox="0 0 26 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
					<title>Fail</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Cross" transform="translate(7.304348, 7.304348)" opacity="0.4" stroke="#191935">
						<path d="M0,0 L9.39130435,9.39130435" id="Shape"></path>
						<path d="M0,9.39130435 L9.39130435,0" id="Shape"></path>
					</g>
				</svg>

				{# Remove item form #}
				<form class="removeItemForm" method="POST" data-subtotal-url="{{ url('newshop/ajax/_cartSubtotal') }}">
					<input type="hidden" name="action" value="commerce/cart/removeLineItem"/>
					{# <input type="hidden" name="redirect" value="test/newcart"/> #}
					<input type="hidden" name="lineItemId" value="{{ item.id }}"/>
					{{ getCsrfInput() }}

					{# <input type="submit" class="button link" value="Remove"/> #}
				</form>
			</div>
		</div>

		<div class="productTitle">
			<a href="{{ productUrl }}" class="productLink">
				<h4>
					{{ item.purchasable.title }}
				</h4>
			</a>
		</div>

		<div class="unitPrice">
			<div class="twoColumns">
				<div class="price column twoThirds">
					{% if not lineItemHasErrors %}
					<span>{{ (item.salePrice + (item.salePrice * 0.2))|commerceCurrency(cart.currency) }} {{ 'incl. taxes'|t }}</span>
					{% endif %}
				</div>

				<div class="productControl quantity column oneThird">
					{# Update item quantity form #}
					<form class="updateQuantityForm" method="POST" data-subtotal-url="{{ url('newshop/ajax/_cartSubtotal') }}">
						<input type="hidden" name="action" value="commerce/cart/updateLineItem">
						{# <input type="hidden" name="redirect" value="test/newcart"> #}
						<input type="hidden" name="lineItemId" value="{{ item.id }}">
						{{ getCsrfInput() }}

						<div class="numberSpinner updateItemQuantity">
							<button class="sideCart decrementButton">-</button>
							{{ quantityInput.build(item.purchasable, item.qty, null, 'sideCart spinner', false) }}
							<button class="sideCart incrementButton">+</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	{% else %}
	{% set showFooter = false %}
	{% endif %}
</div>

<div id="cartFooter" {% if not showFooter %} class="hidden" {% endif %}>
	<div id="cartTotal">
		<strong>{{ 'Subtotal'|t }}</strong>
		<span>{{ (cart.itemSubTotal + (cart.itemSubTotal * 0.2))|commerceCurrency(cart.currency) }} {{ 'incl. taxes'|t }}</span>
	</div>

	<div id="checkoutButtonContainer">
		<a class="actionButton buttonShadow linkButton" href="{{ url('newshop/checkout') }}">
			<span>{{'Checkout'|t}}</span>
		</a>
	</div>
</div>


<p id="emptyCartMessage" {% if cart.lineItems|length %} class="hidden" {% endif %}>
	{{'You have no items in your cart, add some on the'|t}} <a href="{{ productIndex }}">{{'products page'|t}}</a>
</p>
