{% extends '_layout' %}
{% set title = 'Addresses'|t %}

{# Generate language links to be used within '_layouts/_language' #}
{% set languageLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/checkout/addresses',
		'fr': craft.config.siteUrl['fr'] ~ '/newshop/checkout/adresses'
	}
%}

{# Shipping link for checkout navigation #}
{% set shippingLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/checkout/shipping',
		'fr': craft.config.siteUrl['fr'] ~ '/newshop/checkout/livraison'
	}
%}

{% block content %}

	{% set addresses = craft.commerce.customer.addresses %}

	{# UI when at least one address exists #}

	<div id="checkoutAddresses" class="pageContent">
		<div id="checkoutNav">
			{% include 'newshop/_includes/meter' %}
		</div>

		{% include "newshop/_layouts/notifications" %}

		<form method="post" class="paddedContainer">
			<input type="hidden" name="action" value="commerce/cart/updateCart">
			<input type="hidden" name="redirect" value="{{ shippingLink[craft.locale] }}"/>
			{{ getCsrfInput() }}

			{% if not cart.email %}
				<div id="guestEmail" class="formAnimation">
					<label for="">Email</label>
					<input class="u-full-width textfield" type="text" value="{{ cart.email }}" name="email"/>

					<span class="flash">{{ cart.getErrors('email')|join }}</span><br>
				</div>
			{% endif %}

			{% include 'newshop/_includes/addresses/fieldset' with {
				title: "New Shipping Address"|t,
				class: 'ShippingAddress',
				name: 'shippingAddress'
			} %}

			<input type="hidden" name="sameAddress" value="0">

			<label for="sameAddress"><input id="sameAddress" name="sameAddress" type="checkbox" checked="checked"/>
				<span class="label-body">
					{{ 'Use same address for billing'|t }}
				</span>
			</label>

			<br>

			{% include 'newshop/_includes/addresses/fieldset' with {
				title: "New Billing Address"|t,
				class: 'BillingAddress hidden',
				name: 'billingAddress'
			} %}

			<div id="confirmAddresses">
				<button	 type="submit" class="actionButton buttonShadow" value="">
					<span>{{ 'Confirm addresses'|t }}</span>
				</button>
			</div>
		</form>
	</div>

	{% includejs %}
		var $fieldsets = $('.address-fieldset');

		$fieldsets.each(function () {
			var $addressFieldset = $(this);

			$('.address-select', $addressFieldset).each(function () {

				this.$element = $(this);
				this.$radio = $('.radio input', this.$element);
				this.$body = $('.body', this.$element);

				this.$radio.change($.proxy(function () {
					$('.body', $addressFieldset).addClass('hidden');
					this.$body.removeClass('hidden');
				}, this));

				if (this.$radio.is(':checked')) {
				this.$body.removeClass('hidden');
				}
			});
		});

		$("#sameAddress").change(function (e) {
			$('.address-fieldset.BillingAddress').toggleClass('hidden');

			updateRequired();
		});

		$("[name=billingAddressId]").change(function (e) {
			updateRequired();
		});

		var updateRequired = function () {
			for (var i = 0, k = $('.addressBox'), c = k.length; i < c; i++) {
				if (k.eq(i).is(':visible') === true) k.eq(i).find('[data-required]').attr('required', true);
				else k.eq(i).find('[data-required]').attr('required', false);
			}
		};

		{% if cart.billingAddressId and cart.billingAddress.hasErrors() %}
			$("#sameAddress").click();
		{% endif %}

		updateRequired();
	{% endincludejs %}

{% endblock %}
