{% extends '_layout' %}
{% set title = 'Start Order'|t %}

{# Generate address links for checkout navigation #}
{% set addressLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/checkout/addresses',
		'fr': craft.config.siteUrl['fr'] ~ '/newshop/checkout/adresses'
	}
%}

{% if currentUser %}
	{% redirect addressLink[craft.locale] %}
{% endif %}

{% block content %}
	<div id="checkoutStart" class="pageContent">
		<div id="checkoutNav">
			{% include 'newshop/_includes/meter' %}
		</div>

		{% include "newshop/_layouts/notifications" %}

		<div class="outer">
			<div class="left">
				<div class="inner">
					<h1>{{ 'Already Registered ?'|t }}</h1>

					<form method="post" accept-charset="UTF-8">
						{{ getCsrfInput() }}
						<input type="hidden" name="action" value="users/login">
						<input type="hidden" name="redirect" value="{{ addressLink[craft.locale] }}">

						<div class="inputAnimation">
							<label for="loginName">Email</label>
							<input type="text" name="loginName" id="loginName" class="textfield"  placeholder=" "
								value="{{ craft.session.rememberedUsername }}">
						</div>

						<div class="inputAnimation">
							<label for="password">{{ 'Password'|t }}</label>
							<input type="password" name="password" id="password" class="textfield">
						</div>

						<div>
							<label>
								<input type="checkbox" name="rememberMe" value="1">
								{{ 'Remember me'|t }}
							</label>
						</div>

						<input type="submit" value="Login" class="actionButton buttonShadow"/>

						<p class="forgot-password"><a href="{{ url('forgotpassword') }}">{{ 'Forget your password?'|t }}</a></p>

					</form>
				</div>
			</div>

			<div class="right">
				<div class="inner">
					{# Create an account form #}

					<h1>{{ 'Create an account'|t }}</h1>

					{% include 'forms/register' %}
				</div>
			</div>
		</div>

		<div id="guest">
			<a href="{{ url('newshop/checkout/addresses') }}">{{ 'Continue as a guest'|t }}</a>
		</div>
	</div>
{% endblock %}