{% extends '_layout' %}
{% set title = 'Payment'|t %}

{# Generate language links to be used within '_layouts/_language' #}
{% set languageLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/checkout/payment',
		'fr': craft.config.siteUrl['fr'] ~ '/newshop/checkout/paiement'
	}
%}

{% block content %}
{# Making sure the user visiting the page is at least a guest #}
{% if cart.email %}
{% if not cart.shippingMethod %}
			{#
				If the order requires a shipping method be selected, you could redirect back to the shipping page until one is applied to the order.
				You might also want to add a php plugin hook to require
			#}

			{# checkout index + checkout shipping pages URI #}
			{% set checkoutUri = {
					'en': craft.config.siteUrl['en'] ~ '/newshop/checkout/addresses',
					'fr': craft.config.siteUrl['fr'] ~ '/newshop/checkout/adresses'
				}
			%}

			{% set shippingUri = {
					'en': craft.config.siteUrl['en'] ~ '/newshop/checkout/shipping',
					'fr': craft.config.siteUrl['fr'] ~ '/newshop/checkout/livraison'
				}
			%}

			{% redirect shippingUri[craft.locale] %}
			{% endif %}
			{% else %}
			{% redirect checkoutUri[craft.locale] %}
			{% endif %}

			<div class="pageContent">
				<div id="checkoutNav">
					{% include 'newshop/_includes/meter' %}
				</div>

				{% include "newshop/_layouts/notifications" %}

				{% if cart.lineItems|length %}
				<div class="outer">
					<div class="left">
						<div class="inner payment">
							<h1>{{ 'Payment'|t }}</h1>

						{#
						Using the update cart action you could allow the user to select the payment method here.
						We recommend using ajax to set this, so no page refresh is needed. This would also allow you to dynamically show or hide the credit card form
						on method change.
						#}

						{% if not craft.commerce.paymentMethods|length %}
						<p>{{'No payment methods available.|t'}}</p>
						{% endif %}

						{% if craft.commerce.paymentMethods|length %}
						<form method="POST" id="paymentMethod">

							<input type="hidden" name="action" value="commerce/cart/updateCart">
							<input type="hidden" name="redirect"
							value="newshop/checkout/payment">
							{{ getCsrfInput() }}

							{% set currencies = craft.commerce.paymentCurrencies %}
							{% if currencies|length > 1 %}
							<div>
								<label for="paymentCurrency">{{'Payment currency'|t}}</label>
								<select name="paymentCurrency" id="paymentCurrency" class="dropdown">
									{% for currency in currencies %}
									<option value="{{ currency.iso }}" {% if currency.iso == cart.paymentCurrency %}selected{% endif %}>{{ currency.name }} {{  currency.iso }} - {{ cart.totalPrice|commerceCurrency(currency.iso,convert=true) }}</option>
									{% endfor %}
								</select>
							</div>
							{% endif %}

							<div id="radioGroup">
								{% for id,name in craft.commerce.paymentMethods %}
								<label>
									<input type="radio" name="paymentMethodId" id="paymentMethodId" value="{{ id }}"
									{% if id == cart.paymentMethodId %}checked{% endif %}> <span>{{ name|t }}</span>
								</label>
								{% endfor %}
							</div>
						</form>
						{% endif %}

						{% if cart.paymentMethodId %}
						<form method="POST" id="paymentForm">
							<input type="hidden" name="action" value="commerce/payments/pay"/>
							{# <input type="hidden" name="redirect" value="{{ siteUrl }}newshop/customer/order?number={number}"/> #}
							<input type="hidden" name="redirect" value="{{ siteUrl }}newshop/checkout/thanks?orderNumber={number}"/>
							<input type="hidden" name="cancelUrl" value="/newshop/checkout/payment"/>
							{{ getCsrfInput() }}

							<noscript>
								<div class="bs-callout bs-callout-danger">
									<h4>{{'JavaScript is not enabled!|t'}}</h4>

									<p>
										This payment form requires your browser to have
										JavaScript enabled. Please activate
										JavaScript and reload this page. Check <a
										href="http://enable-javascript.com"
										target="_blank">enable-javascript.com</a>
										for
										more informations.
									</p>
								</div>
							</noscript>

							<span class="payment-success"></span>

							{% if cart.paymentMethod.class == 'Stripe' %}
							<script
							src="//checkout.stripe.com/checkout.js"
							class="stripe-button"
							data-key="{{ cart.paymentMethod.settings.publishableKey ?? '' }}"
							data-name="{{ siteName }}"
							data-description="Purchase" {# This is not used for order description in stripe - see Craft Commerce general settings #}
							data-email="{{ cart.email }}"
							data-currency="{{ cart.paymentCurrency }}"
							data-amount="{{ cart.totalPrice|commerceCurrency(cart.paymentCurrency,convert=true,format=false) * 100 }}"
							data-locale="auto">
						</script>
						{% endif %}

								{#
								Display information to pay by cheque or bank deposit
								depending on the selected currency
								#}

								{% if cart.paymentMethod.class == 'Manual' %}
								{% if cart.paymentCurrency == 'USD' %}
								{% include 'newshop/_includes/paymentInformation/swissFrancs' %}
								{% endif %}

								{% if cart.paymentCurrency == 'EUR' %}
								{% include 'newshop/_includes/paymentInformation/euro' %}
								{% endif %}
								{% endif %}

								{% if (cart.paymentMethod.class != 'Stripe') %}
								{% if cart.paymentMethod.requiresCard() %}
								{% set currentYear = date()|date_modify("+1 year").format('Y') %}
								{% set formValues = {
									firstName: paymentForm is defined ? paymentForm.firstName : (cart.billingAddress ? cart.billingAddress.firstName : ''),
									lastName: paymentForm is defined ? paymentForm.lastName : (cart.billingAddress ? cart.billingAddress.lastName : ''),
									number: paymentForm is defined ? paymentForm.number : '',
									cvv: paymentForm is defined ? paymentForm.cvv : '',
									month: paymentForm is defined ? paymentForm.month : 1,
									year: paymentForm is defined ? paymentForm.year : currentYear,
								} %}

								<!-- Card Holder Name -->
								<label>{{ 'Card Holder'|t }}</label>

								<div class="twoColumns">
									<div class="column half inputAnimation">
										<input type="text" name="firstName"
										class="textfield"
										maxlength="70"
										placeholder="{{ 'First Name'|t }}"
										value="{{ formValues.firstName }}">

										<div class="fieldError">
											{% if paymentForm is defined %}
											<span class="help-block">{{ paymentForm.getError('firstName') }}</span>
											{% endif %}
										</div>
									</div>

									<div class="column half inputAnimation">
										<input type="text" name="lastName"
										class="textfield"
										maxlength="70"
										placeholder="{{ 'Last Name'|t }}"
										value="{{ formValues.lastName }}">

										<div class="fieldError">
											{% if paymentForm is defined %}
											<span class="help-block">{{ paymentForm.getError('lastName') }}</span>
											{% endif %}
										</div>
									</div>
								</div>

								<!-- Card Number -->
								<div class="form-group {% if paymentForm is defined and paymentForm.hasErrors('number') %}has-error{% endif %} inputAnimation">
									<label for="cardNumber">{{ 'Card Number'|t }}</label>

									<input type="text" name="number" id="cardNumber"
									class="textfield"
									maxlength="19"
									value="{{ formValues.number }}">

									{% if paymentForm is defined %}
									<span class="help-block">{{ paymentForm.getError('number') }}</span>
									{% endif %}
								</div>

								<div class="twoColumns">
									<div class="column half">
										<label>{{ 'Card Expiry Date'|t }}</label>

										<!-- Expiry-->
										<div id="expiry">
											<select name="month" class="dropdown">
												{% for month in 1..12 %}
												<option value="{{ month }}"
												{% if formValues.month == month %}selected{% endif %}>{{ month }}</option>
												{% endfor %}
											</select>

											<span> / </span>

											<select name="year" class="dropdown">
												{% for year in currentYear-1..(currentYear + 12) %}
												<option value="{{ year }}"
												{% if formValues.year == year %}selected{% endif %}>{{ year }}</option>
												{% endfor %}
											</select>
										</div>

										{% if paymentForm is defined %}<span class="help-block">{{ paymentForm.getError('month') }}</span>{% endif %}
										{% if paymentForm is defined %}<span class="help-block">{{ paymentForm.getError('year') }}</span>{% endif %}
									</div>

									<!-- CVV -->
									<div class="column half inputAnimation">
										<label for="cvvNumber">CVV/CVV2</label>
										<input type="text" name="cvv" id="cvvNumber"
										class="textfield"
										maxlength="4"
										value="{{ formValues.cvv }}">

										{% if paymentForm is defined %}
										<span class="help-block">{{ paymentForm.getError('cvv') }}</span>
										{% endif %}
									</div>
								</div>
								{% endif %}
								{% endif %}
							</form>

							{# Update Coupon form uses the single update controller action: #}

							<form method="POST">
								<input type="hidden" name="action" value="commerce/cart/updateCart">
								<input type="hidden" name="redirect" value="newshop/checkout/payment">
								{{ getCsrfInput() }}

								<div class="twoColumns veticalSpacer">
									<div class="column half">
										<input type="text" name="couponCode" class="textfield" width="11" value="{{ cart.couponCode }}" placeholder="{{ "Coupon Code"|t }}">
									</div>

									<div class="column half">
										<button type="submit" class="actionButton" value=""/>
										<span>{% if cart.couponCode %}Change{% else %}{{ 'Apply'|t }}{% endif %} {{ 'Coupon'|t }}</span>
										</button>
									</div>
								</div>

								{% if cart.getError('couponCode') %}
								<span class="flash couponError">{{ cart.getError('couponCode') }}</span>
								{% endif %}
							</form>
							{% endif %}
						</div>
					</div>

					<div class="right">
						<div class="inner review">
							<h1>{{ 'Order Review'|t }}</h1>
							<div id="cartItems">
								{% for item in cart.lineItems %}
								<div class="twoColumns">
									<div class="column oneThird">
										<div style="background-image: url({{ item.purchasable.productImage.first().url }});"></div>
									</div>

									<div class="column twoThirds">
										<div>
											<span><b>{{ item.purchasable.title }}</b></span>
											{# <span>{{ item.subtotal|commerceCurrency(cart.currency) }}</span> #}
											<span>{{ item.qty }} x {{ (item.salePrice + (item.salePrice * 0.2))|commerceCurrency(cart.currency) }} {{ 'incl. taxes'|t }}</span>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>

							<ul id="priceDetails">
								<li>
									<strong>{{ 'Subtotal'|t }}</strong>
									<span>{{ cart.itemSubTotal|commerceCurrency(cart.currency) }} ({{ 'excl. taxes'|t }})</span>
								</li>

								{% for adjustment in cart.adjustments %}
								<li>
									<strong>{{ adjustment.name }}</strong>
									<span>
										{{ adjustment.amount|commerceCurrency(cart.currency) }} ({{ adjustment.description }})
									</span>
								</li>
								{% endfor %}
							</ul>

							<ul id="totalPrice">
								<li>
									<strong>Total {{ cart.currency }}</strong>
									<span>{{ cart.totalPrice|commerceCurrency(cart.currency) }}</span>
								</li>

								{% if cart.currency != cart.paymentCurrency %}
								<li>
									<strong>{{'Payment'|t}} {{ cart.paymentCurrency }}</strong>
									<span>{{ cart.totalPrice|commerceCurrency(cart.paymentCurrency,convert=true) }}</span>
								</li>
								{% endif %}
							</ul>

							<ul>
								<li>
									<span id="taxNotice">{{ 'Please note duties and taxes are not included for non EU countries'|t }}</span>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div id="paymentValidation">
					<button id="payButton" class="actionButton buttonShadow">
						<span>{{ 'Pay'|t }} {{ cart.totalPrice|commerceCurrency(cart.paymentCurrency,convert=true) }}</span>
					</button>
				</div>
				{% else %}
				<p id="emptyCartMessage">{{'You have no items in your cart, add some on the'|t}} <a href="{{ url('newshop/products') }}">{{'products page'|t}}</a></p>
				{% endif %}
			</div>

			{% includejs %}
			$('#paymentMethodId , #paymentCurrency').change(function(){
				$('form#paymentMethod').submit();
			});


		// Custom addition
		// Submitting payment form on button click
		$('#payButton').click(function() {
			$('form#paymentForm').submit();
		});

		{% endincludejs %}
		{% endblock %}