{% extends '_layout' %}
{% set title = 'Shipping'|t %}

{# Generate language links to be used within '_layouts/_language' #}
{% set languageLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/checkout/shipping',
		'fr': craft.config.siteUrl['fr'] ~ '/newshop/checkout/livraison'
	}
%}

{# Shipping link for checkout navigation #}
{% set paymentLink = {
		'en': craft.config.siteUrl['en'] ~ '/newshop/checkout/payment',
		'fr': craft.config.siteUrl['fr'] ~ '/newshop/checkout/paiement'
	}
%}

{% block content %}
	{% if not cart.shippingAddress or not cart.billingAddress %}
		{% redirect 'newshop/checkout/addresses' %}
	{% endif %}

	<div class="pageContent shipping centerContent">
		<div id="checkoutNav">
			{% include 'newshop/_includes/meter' %}
		</div>

		{% include "newshop/_layouts/notifications" %}

		<div class="narrowContent">
			{#
			Choosing a shipping method.
			Now that we know the cart's address, we need to show all available shipping methods. Only those that match
			a shipping method's rule are compatible with the shipping address. `craft.commerce.shippingMethods` only returns
			methods available to the user. If you require shipping and no methods are avaialable, create a catch all rule
			in a method that matches all addresses.
			#}

			{% if not craft.commerce.availableShippingMethods|length %}
				{# Default content #}
				{# <p>No shipping methods available.<p><p> <a class="button button-primary" href="{{ url('newshop/checkout/payment') }}">Continue to payment</a></p> #}

				{# Alternative content #}
				<p>{{ 'No shipping method is available for your region.'|t }}</p><br>
				<p>{{ 'For more information regarding orders, please contact our customer service by following this'|t }} <a href="{{ url('contact') }}">{{'this link'|t}}</a></p>
			{% endif %}

			{% if craft.commerce.availableShippingMethods|length %}
				<h1>{{ 'Shipping Method'|t }}</h1>
				<form method="POST">
					<input type="hidden" name="action" value="commerce/cart/updateCart">
					<input type="hidden" name="redirect" value="{{ paymentLink[craft.locale] }}">
					{{ getCsrfInput() }}

					{% for handle, method in craft.commerce.availableShippingMethods %}
						<div class="shipping-select">
							<label>
								<div>
									<input type="radio" name="shippingMethod" value="{{ handle }}"
											{% if handle == cart.shippingMethodHandle %}checked{% endif %} />
									<strong>{{ method.name }}</strong>
								</div>

								<div>
									<span class="price">
										{{ method.amount|commerceCurrency(cart.currency) }}
									</span>
								</div>
							</label>
						</div>
					{% endfor %}
					<span class="flash">{{ cart.getErrors('shippingMethod')|join }}</span>

					<button type="submit" id="selectShipping" class="actionButton buttonShadow" value=""/>
						<span>{{ 'Next'|t }}</span>
					</button>
				</form>
			{% endif %}
		</div>
	</div>

	{# Custom js preventing access to next step without selecting a shipping method #}
	{% includejs %}
		var shippingIsSelected = false;
		var errorIsShown = false;

		// Page load handling
		$('.shipping-select input').each(function(index, element) {
			// console.log(element);
			// console.log($(element).prop('checked'));
			if ($(element).prop('checked')) {
				shippingIsSelected = true;
				return false;
			}
		});

		// On click handling
		$("input:radio[name=shippingMethod]").click(function() {
			shippingIsSelected = true;
		});

		// Prevent users from going to the next step without selecting a shipping mehtod
		$('#selectShipping').click(function(event) {
			if (!shippingIsSelected) {
				event.preventDefault();

				var errorContainer = $('span.flash');
				var errorMessage = '{{ 'Please select a shipping method'|t }}';

				// Display an error message to the user
				if (!errorIsShown) {
					if (errorContainer.html().length > 1)
						errorMessage = '<br>' + errorMessage;

					errorContainer.append(errorMessage);
					errorIsShown = true;
				}

				console.log('Error, you must select a shipping method');
			}
		});

	{% endincludejs %}
{% endblock %}
