{% extends '_layout' %}

{% block content %}
	{# Make sure this page is being visited after submitting an order #}

	{% set userIsGuest = false %}

	{% set orderNumber = craft.request.param('orderNumber') %}
	{% set order = craft.commerce.orders.number(orderNumber).first() %}

	{% if not order %}
		{% redirect 'newshop/customer' %}
	{% endif %}

	{# Making sure the user who sees this page is the one who passed the order #}
	{% set customer = craft.commerce.getCustomer() %}

	{# Is the user a guest ? #}
	{% if customer.userId %}
		{% if customer.userId != order.customer.userId %}
			{% redirect 'login' %}
		{% endif %}
	{% else %}
		{% if customer.email == order.email %}
			{% set userIsGuest = true %}
		{% else %}
			{% redirect 'newshop/products' %}
		{% endif %}
	{% endif %}

	<div class="narrowContainer">

		{# Display a page banner if there is one #}
		{% if entry.pageBanner|length %}
			<div class="pageBanner" style="background-image: url({{ entry.pageBanner.first().url }})"></div>
		{% endif %}

		<div id="delivery" class="narrowContent simplePageContent">
			<div class="userInput">
				{{ entry.body }}
			</div>

			{% if not userIsGuest %}
				{{ 'You can review your order by following'|t }} <a href="{{ url('newshop/customer/order') ~ '?orderNumber=' ~  orderNumber }}">{{'this link'|t}}</a>
			{% endif %}
		</div>
	</div>
{% endblock %}