<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<style>
	{% include 'newshop/style.css' %}
	table.heading td{
		vertical-align: top;
	}
	#footerText {
		font-size: 9pt;
	}
	</style>
</head>

<body>

{% set option = 'receipt' %}
{% set order = craft.commerce.orders.find()[0] %}

{% set orderTable %}
	<div class="row">
		<table class="u-full-width">
			<tbody>
				<tr>
					<td colspan="4" class="text-right">
						<strong>{{ 'Receipt'|t }} # </strong> {{ order.number[:7] }}<br>
						<strong>{{ 'Receipt date'|t }}</strong> {{ order.dateOrdered.localeDate() }}
					</td>
				</tr>
			</tbody>
		</table>

		<div class="twelve columns">
			{# start #}

			<table class="u-full-width">
				<thead>
				<tr>
					<th>{{ 'Seller'|t }}</th>
					<th class="text-right">{{ 'Buyer'|t }}</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							PRO-CONFORT SA<br>
							c/o Rhéovatis Avocats<br>
							26 Boulevard Suchet<br>
							75016, Paris France<br>
							{{ 'VAT number'|t }} Pro-confort : FR05829895267<br>
							{{ 'VAT number'|t }} Rhéovatis : FR96799920228<br>
							Email: sales@pro-confort.com<br>
						</td>
						<td class="text-right" valign="top">
							<strong>{{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }}</strong><br>
							{{ order.billingAddress.address1 }}<br>
							{% if order.billingAddress.address2 is not empty %}
								{{ order.billingAddress.address2 }}<br>
							{% endif %}
							{{ order.billingAddress.zipCode }} {{ order.billingAddress.city }}, {{ order.billingAddress.country.name }}
						</td>
					</tr>
				</tbody>
			</table>

			{# end #}

			<table class="u-full-width">
				<thead>
				<tr>
					<th>{{ 'Quantity'|t }}</th>
					<th>{{ 'Description'|t }}</th>
					<th>{{ 'Unit Price'|t }}</th>
					<th class="text-right">Total</th>
				</tr>
				</thead>
				<tbody>
				{% for item in order.lineItems %}
					<tr>
						<td>{{ item.qty }}</td>
						<td valign="top">
							<strong>{{ item.description }}</strong><br>
						</td>
						<td>
							{% if item.onSale %}
								<strike>{{ item.price|commerceCurrency(order.currency) }}</strike>   {{ item.salePrice|commerceCurrency(order.currency) }}
							{% else %}
								{{ item.price|commerceCurrency(order.currency) }}
							{% endif %}
						</td>
						<td class="text-right">{{ item.total|commerceCurrency(order.currency) }}</td>
					</tr>
				{% endfor %}

				<tr>
					<td colspan="4" class="text-right">
						{#
							Base Discount: {{ order.baseDiscount|commerceCurrency(order.currency) }}<br>
							Base Tax: {{ order.baseTax|commerceCurrency(order.currency) }}<br>
							Base Shipping Cost: {{ order.baseShippingCost|commerceCurrency(order.currency) }}<br>
						#}
						<strong>{{ 'Item Total'|t }}: {{ order.itemTotal|commerceCurrency(order.currency) }}</strong><br>
						{% for adjustment in order.adjustments %}
							{{ adjustment.type|t }}: {{ adjustment.amount|commerceCurrency(order.currency) }}<br>
						{% endfor %}
						<h4>Total {{ 'incl. taxes'|t }} : {{ order.totalPrice|commerceCurrency(order.currency) }}</h4>
					</td>
				</tr>

				</tbody>
			</table>

			<table class="u-full-width">
				<thead>
				<tr>
					<th>{{ 'Terms and payment conditions'|t }}</th>
				</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{{ 'Banking coordinates'|t }}: Pro-Confort SA<br>
							{{ 'Account number'|t }}: CH73 0900 0000 9169 2736 7<br>
							BIC : POFICHBEXXX<br>
						</td>
					</tr>
				</tbody>
			</table>

			<div id="footerText">
				{% include '_mails/_includes/legalInfo' %}
			</div>
		</div>
	</div>
{% endset %}

{# Use the option param passed into the pdf template to show different order pdf's depending on the context #}
{% switch option %}
{% case "receipt" %}
	{# Logo integration doesn't work ATM
	{{ craft.config.baseResourceUrl~'public/images/logo/logo.png' }}
	<img src="{{ craft.config.baseResourceUrl~'public/images/logo/logo.png' }}" alt="Pro-Confort logo">
	#}
	<h1>{{ 'Receipt'|t }}</h1>
	{{ orderTable }}
{% case "ajax" %}
	<h1>{{ 'Receipt'|t }}</h1>
	{{ orderTable }}
{% default %}
	<h1>{{ 'Receipt'|t }}</h1>
	{{ orderTable }}
{% endswitch %}


</body>
</html>
