<form method="post" accept-charset="UTF-8">
	{{ getCsrfInput() }}
	<input type="hidden" name="action" value="users/saveUser">
	<input type="hidden" name="redirect" value="{{ url('mailconfirmation') }}">

	{% macro errorList(errors) %}
		{% if errors %}
			<ul class="alert error">
				{% for error in errors %}
					<p>{{ error }}</p>
				{% endfor %}
			</ul>
		{% endif %}
	{% endmacro %}

	{% from _self import errorList %}

	<div class="inputAnimation">
		<label for="registerUsername">{{ 'Username'|t }}</label>
		<input type="text" name="username" id="registerUsername" class="textfield"
		{%- if account is defined %} value="{{ account.username }}"{% endif -%}>
	</div>

	{% if account is defined %}
		{{ errorList(account.getErrors('username')) }}
	{% endif %}

	<div class="inputAnimation">
		<label for="registerEmail">Email</label>
		<input type="text" name="email" id="registerEmail" class="textfield"
			{%- if account is defined %} value="{{ account.email }}"{% endif %}>
	</div>

	{% if account is defined %}
		{{ errorList(account.getErrors('email')) }}
	{% endif %}

	<div class="inputAnimation">
		<label for="registerPassword">{{ 'Password'|t }}</label>
		<input type="password" name="password" id="registerPassword" class="textfield">
	</div>

	{% if account is defined %}
		{{ errorList(account.getErrors('password')) }}
	{% endif %}

	<button type="submit" class="actionButton buttonShadow" > {# Adapt french translation ? #}
		<span>{{ 'Register'|t }}</span>
	</button>
</form>