<header {% if isHome %} class="landing dark" {% else %} class="light" {% endif %} >
	<nav class="container">
		<div class="columns">
			<div class="column is-12">

				<div id="navContent">
					<div id="openMenu">
						<div id="burgerMenu">
							<div class="top"></div>
							<div class="mid"></div>
							<div class="bot"></div>
						</div>
					</div>

					{# Nav links #}
					{% include '_layouts/navigation' with {'displayIcons': true} %}

					{# Account links #}
					<div id="account">
						<ul class="linkList">
							<li>
								<a class="iconicLink" href="{% if currentUser %} {{ url('newshop/customer') }} {% else %} {{ url('login') }} {% endif %}">
									<span>{% if currentUser %} {{ craft.commerce.getCustomer().email }} {% else %} {{ 'My account'|t }} {% endif %}</span>
									<svg class="headerIcon" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>profile</title>
										<desc>Created with Sketch.</desc>
										<defs></defs>
										<g id="Page-1" stroke="none" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linejoin="round">
											{# The navbar class is used to apply colors to the icon from mobileMenu.js #}
											<g class="navbar" stroke="{{ iconColor }}" stroke-width="2">
												<g id="Group" transform="translate(3.000000, 3.000000)">
													<path d="M6.70133937,15.610279 L4.69551788,16.1453393 C3.30959917,16.5150382 2.22773025,17.5985194 1.86009552,18.9849871 L1.86009552,18.9849871 L0,26 L27,26 L25.1399045,18.9849871 L25.1399045,18.9849871 C24.7722698,17.5985194 23.6904008,16.5150382 22.3044821,16.1453393 L22.3044821,16.1453393 L20.2991704,15.610415 C18.8395706,17.8612253 16.3101522,19.3051523 13.500299,19.3051523 C10.6903892,19.3051523 8.16092548,17.8611672 6.70133937,15.610279 Z" id="Combined-Shape"></path>
													<path d="M13.5002103,1.15472952e-15 L13.5002103,1.15472952e-15 L13.5002103,8.8817842e-16 C16.4648141,3.43583668e-16 18.8681003,2.40328618 18.8681003,5.36788992 C18.8681003,5.62935191 18.8489972,5.8904645 18.8109435,6.14914246 L18.2468184,9.98390502 L18.2468184,9.98390502 C17.9004302,12.3385539 15.8802012,14.0833333 13.5002103,14.0833333 L13.5002103,14.0833333 L13.5002103,14.0833333 C11.1202195,14.0833333 9.09999054,12.3385539 8.75360231,9.98390502 L8.18947719,6.14914246 L8.18947719,6.14914246 C7.75800332,3.21610553 9.78592087,0.488630628 12.7189578,0.0571567634 C12.9776358,0.0191031066 13.2387484,9.36208576e-16 13.5002103,8.8817842e-16 Z" id="Rectangle-2"></path>
												</g>
											</g>
										</g>
									</svg>
								</a>
							</li>
							<li>
								<a id="openCart" class="iconicLink" href="{{ url('newshop/cart') }}">
									<span class="cartCount strong {% if not cart.lineItems|length %} hidden {% endif %}">{{ cart.lineItems|length }}</span>
									<svg class="headerIcon" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<title>cart</title>
										<desc>Created with Sketch.</desc>
										<defs></defs>
										<g id="Page-1" stroke="none" stroke-width="1.5" fill="none" fill-rule="evenodd">
											{# The navbar class is used to apply colors to the icon from mobileMenu.js #}
											<g class="navbar" stroke="{{ iconColor }}" stroke-width="2">
												<polyline id="Rectangle" stroke-linecap="round" stroke-linejoin="round" points="27.8639101 22.5469571 8.72104704 22.5469571 10.4773173 17.8571429 5.47550301 3 1 3"></polyline>
												<polyline id="Rectangle" stroke-linejoin="round" points="6.29667421 6.43543544 31 6.43543544 27.6654572 17.8571429 10.4773173 17.8571429"></polyline>
												<ellipse id="Oval-Copy" cx="25.1304348" cy="28.1428571" rx="1.95652174" ry="1.85714286"></ellipse>
												<ellipse id="Oval-Copy-2" cx="10.7826087" cy="28.1428571" rx="1.95652174" ry="1.85714286"></ellipse>
											</g>
										</g>
									</svg>
								</a>
							</li>
							<li>
								{% include '_layouts/_language' %}
							</li>
						</ul>
					</div>
				</div>
				{# Mobile menu #}
				<div id="mobileMenu">
					{% include '_layouts/mobileMenu' %}
				</div>
			</div>
		</div>
	</nav>
</header>