{#
	Links to switch the site language.
	The 'element' variable is delcared in '_layout.twig'.

	The 'languageLink' variable is defined in any static page template
	i.e. every page in the checkout & customer folders.
	#}

	<ul class="linkList language-container">
		{% if languageLink is defined %}
		{# Static page links #}
		<li>
			<a class="languageLink {% if craft.i18n.getCurrentLocale() == 'en' %}active{% endif %}" data-language="en" href="{{ languageLink['en'] }}" title="{{ 'English'|t }}">
				{# {{ 'English'|t }} #}
				<img src="{{ craft.config.baseResourceUrl }}public/images/icons/uk.png" alt="">
			</a>
		</li>
		<li>
			<a class="languageLink {% if craft.i18n.getCurrentLocale() == 'fr' %}active{% endif %}" data-language="fr" href="{{ languageLink['fr'] }}" title="{{ 'French'|t }} (France)">
				{# {{ 'French'|t }} #}
				<img src="{{ craft.config.baseResourceUrl }}public/images/icons/fr.png" alt="">
			</a>
		</li>
		{% else %}
		{# Dynamic page links #}
		<li>
			<a class="languageLink {% if craft.i18n.getCurrentLocale() == 'en' %}active{% endif %}" data-language="en" href="{{ ll('en', element) }}" title="{{ 'English'|t }}">
				{# {{ 'English'|t }} #}
				<img src="{{ craft.config.baseResourceUrl }}public/images/icons/uk.png" alt="">
			</a>
		</li>
		<li>
			<a class="languageLink {% if craft.i18n.getCurrentLocale() == 'fr' %}active{% endif %}" data-language="fr" href="{{ ll('fr', element) }}" title="{{ 'French'|t }} (France)">
				{# {{ 'French'|t }} #}
				<img src="{{ craft.config.baseResourceUrl }}public/images/icons/fr.png" alt="">
			</a>
		</li>
		{% endif %}
	</ul>
