<div id="account">
	<ul class="linkList">
		<li>
			<a class="iconicLink" href="{% if currentUser %} {{ url('newshop/customer') }} {% else %} {{ url('login') }} {% endif %}">
				<span>{% if currentUser %} {{ craft.commerce.getCustomer().email }} {% else %} {{ 'My account'|t }} {% endif %}</span>
				<svg class="headerIcon" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
					<title>User</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="navbar" transform="translate(-1160.000000, -15.000000)" stroke-width="1.5" stroke="{{ iconColor }}">
							<g id="Header">
								<g id="profile" transform="translate(1070.000000, 12.000000)">
									<g id="User" transform="translate(91.000000, 4.000000)">
										<path d="M11.9976365,3.525 C12.071242,1.5375 10.4151187,0 8.50137631,0 C6.58763388,0 4.89470789,1.575 5.0051161,3.525 C5.04191884,3.9375 5.40994623,5.8875 5.40994623,5.8875 C5.70436814,7.575 6.80845031,9 8.50137631,9 C10.1943023,9 11.2983845,7.575 11.5928064,5.85 C11.5928064,5.85 11.9608338,3.9 11.9976365,3.525 Z" id="Shape"></path>
										<path d="M18,18 L0,18 L0.430434783,14.925 C0.626086957,13.9125 1.56521739,13.3125 2.62173913,13.0875 L9,12 L15.3782609,13.0875 C16.4347826,13.3125 17.373913,13.9125 17.5304348,14.925 L18,18 Z" id="Shape"></path>
									</g>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</a>
		</li>

		<li>
			<a id="openCart" class="iconicLink" href="{{ url('newshop/cart') }}">
				{% if cart.lineItems|length %} <span class="cartCount strong">{{ cart.lineItems|length }}</span> {% endif %}
				<svg class="headerIcon" viewBox="0 0 19 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
					<title>Shopping Cart</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="navbar" transform="translate(-1214.000000, -14.000000)" stroke-width="1.4" stroke="{{ iconColor }}">
							<g id="Header">
								<g id="Cart" transform="translate(1199.000000, 15.000000)">
									<g id="Shopping-Cart" transform="translate(15.000000, 0.000000)">
										<path d="M16.8510638,13.6956522 L7.35319149,13.6956522 C5.85957447,13.6956522 4.59574468,12.6 4.32765957,11.1130435 L2.4893617,0 L0,0" id="Shape"></path>
										<path d="M3.06382979,3.13043478 L18,3.13043478 L17.0808511,7.66956522 C16.7361702,9.39130435 15.2808511,10.6434783 13.5957447,10.7608696 L4.40425532,11.3478261" id="Shape"></path>
										<ellipse id="Oval" cx="5.93617021" cy="16.6304348" rx="1.34042553" ry="1.36956522"></ellipse>
										<ellipse id="Oval" cx="15.1276596" cy="16.6304348" rx="1.34042553" ry="1.36956522"></ellipse>
									</g>
								</g>
							</g>
						</g>
					</g>
				</svg>
			</a>
		</li>
	</ul>
</div>