<div id="navigation">
	<ul class="linkList">
		<li>
			{# Hiding or displaying the icon depending on the current layout (mobile or not) #}
			{% if displayIcons %}
			<a class="iconicLink" href="{{ siteUrl }}">
				<svg class="headerIcon" width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<title>home</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
						<g id="home" stroke="{{ iconColor }}" stroke-width="1.5">
							<path d="M27,14.1428571 L27,29 L5,29 L5,14.1428571 L3,14.1428571 L16,3 L29,14.1428571 L27,14.1428571 Z" id="Combined-Shape"></path>
							<rect id="Rectangle-2" x="12.75" y="18.826087" width="6.5" height="10.173913"></rect>
						</g>
					</g>
				</svg>
			</a>
			{% else %}
			<a href="{{ siteUrl }}">
				{{ 'Home'|t|raw }}
			</a>
			{% endif %}
		</li>

		{# URL function parameters are declared in _layout #}
		<li><a href="{{ url(productIndex) }}">{{ 'Products'|t }}</a></li>
		<li><a href="{{ url(blogIndex) }}">{{ 'News'|t }}</a></li>
		<li><a href="{{ url(about) }}">{{ 'About'|t }}</a></li>
		<li><a href="{{ url(contact) }}">{{ 'Contact'|t }}</a></li>
		<li><a href="{{ url(ambassadors) }}">{{ 'Ambassadors'|t }}</a></li>
	</ul>
</div>