{% extends '_layout' %}

{% block content %}

{% if entry is not defined %}
{% set entry = craft.entries.section('contact').first() %}
{% endif %}

<div class="narrowContainer centerContent">
	<div class="narrowContent">
		<h1>{{ entry.title }}</h1>
		<div id="contactForm">

			<form method="post" action="" accept-charset="UTF-8">
				{{ getCsrfInput() }}
				<input type="hidden" name="action" value="contactForm/sendMessage">
				<input type="hidden" id="redirectUrl" value="{{ url('contact/thanks') }}">
				<input type="hidden" id="emptyFieldError" value="{{ 'This field cannot be blank'|t }}">

				<div class="inputAnimation">
					<label for="fromName">{{ 'Firstname and lastname'|t }}</label>
					<input type="text" name="fromName" id="fromName" class="textfield" />
					<div class="alert error errors margin-top hidden"></div>
				</div>

				<div class="inputAnimation">
					<label for="fromEmail">{{ 'Email'|t }}</label>
					<input type="text" name="fromEmail" id="fromEmail" class="textfield" />
					<div class="alert error errors margin-top hidden"></div>
				</div>

				<div class="inputAnimation">
					<textarea type="text" name="message" id="message" placeholder="message" class="textfield textarea"></textarea>
					<div class="alert error errors margin-top hidden"></div>
				</div>

				<button class="actionButton buttonShadow" type="submit" id="sendContactFormButton">
					<span>{{ 'Send'|t }}</span>
				</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}