{% extends '_layout' %}

{% block content %}
<div class="narrowContainer confirmation-container">
	{# Display a page banner if there is one #}
	{% if entry.pageBanner|length %}
	<div class="pageBanner confirmation-image" style="background-image: url({{ entry.pageBanner.first().url }})"></div>
	{% endif %}
	<div id="delivery" class="narrowContent simplePageContent">
		<div class="confirmation-content">
			<div class="userInput">
				{{ entry.body }}
			</div>
		</div>
	</div>
</div>
{% endblock %}