{# Greetings #}

{# Is the user a registered customer? #}
{% if order.customer.id %}
	{{ 'Hello'|t }}, {{ order.shippingAddress.firstName }} {{ order.shippingAddress.lastName }},<br><br>
{% else %}
	{{ 'Hello'|t }}, {{ order.billingAddress.firstName }} {{ order.billingAddress.lastName }},<br><br>
{% endif %}