{% if linkText is defined %}
	<a href="{{ siteUrl }}newshop/customer/order?number={{ order.number }}">{{ linkText|t }}</a>
{% else %}
	<a href="{{ siteUrl }}newshop/customer/order?number={{ order.number }}">{{ 'Visit this page'|t }}</a>
{% endif %}