<b>{{ 'Subtotal'|t }}</b><br>
{{ order.itemSubTotal|commerceCurrency(order.currency) }}<br><br>

{% for adjustment in order.adjustments %}
	<b>{{ adjustment.name }}</b><br>
	{{ adjustment.amount|commerceCurrency(order.currency) }} ({{ adjustment.description }})<br><br>
{% endfor %}


<b>Total {{ order.currency }}</b><br>
{{ order.totalPrice|commerceCurrency(order.currency) }}<br><br>

{% if order.currency != order.paymentCurrency %}
	<b>{{'Payment'|t}} {{ order.paymentCurrency }}</b><br>
	{{ order.totalPrice|commerceCurrency(order.paymentCurrency,convert=true) }}
{% endif %}