<div class="address-fieldset {{ class }}">
	<h1>{{ title }}</h1>
	{% if addresses and currentUser%}
	<div class="addressContainer">
		{% for address in addresses %}
			<div class="address-select customerAddress" data-address-id="{{ address.id }}">
				<div class="actions">
					<ul>
						<li>
							<a class="edit" href="{{ url('newshop/customer/addresses/edit?addressId='~ address.id ~'&redirect='~craft.request.path)}}">{{ 'Edit'|t }}</a>
						</li>
					</ul>
				</div>
				<div class="radio">
					<input type="radio" name="{{ name }}Id"
						{% if attribute(cart,name~'Id') == address.id %}checked="checked"{% endif %} value="{{ address.id }}"/>
						{% include 'newshop/_includes/addresses/address' %}
				</div>
			</div>
		{% endfor %}
		</div>
	{% endif %}

	<div class="address-select">

		{% if attribute(cart, name~'Id') %}
			{% set addressHasErrors = attribute(cart, name).hasErrors() %}
		{% else %}
			{% set addressHasErrors = false %}
		{% endif %}

		{% if currentUser %}
		<div class="radio">
			{# If we have no addresses expand the 'New Address" fields by default it to being checked. If we have errors on the address also check and expand. #}
			<input type="radio" name="{{ name }}Id"
				{% if not addresses|length or addressHasErrors %}checked="checked"{% endif %} value=""/>
			<strong>{{ title|t }}</strong>
		</div>
		{% endif %}

		<div class="body {% if currentUser %}hidden{% endif %}">
			{% if addressHasErrors %}<span class="flash">{{ cart.getErrors(name)|join }}</span><br>{% endif %}
			{% include 'newshop/_includes/addresses/form' with {
			'modelName': name,
			'address': attribute(cart, name)
			} %}

		</div>
	</div>
</div>
