{% set countries = craft.commerce.countriesList %}
{% set states = craft.commerce.statesArray %}

{% set modelName = modelName is defined ? modelName : 'address' %}
{% set model = address is defined ? address : null %}

<div class="addressBox {{ modelName }}">

	<div class="row">
		<div class="six columns inputAnimation">
			<label for="{{ modelName }}-attention">{{ 'Attention'|t }}</label>
			<input type="text" id="{{ modelName }}-attention" class="u-full-width textfield" name="{{ modelName }}[attention]" value="{{ model ? model.attention : '' }}">
			{% if model and model.getErrors('attention') %}
				<span class="flash">{{ model.getErrors('attention')|join }}</span>
			{% endif %}
		</div>
		<div class="six columns inputAnimation">
			<label for="{{ modelName }}-title">{{ 'Title'|t }}</label>
			<input type="text" id="{{ modelName }}-title" class="u-full-width textfield" name="{{ modelName }}[title]" value="{{ model ? model.title : '' }}">
			{% if model and model.getErrors('title') %}
				<span class="flash">{{ model.getErrors('title')|join }}</span>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="six columns inputAnimation">
			<label for="{{ modelName }}-firstName">{{ 'First Name'|t }} *</label>
			<input type="text" id="{{ modelName }}-firstName" class="u-full-width textfield" name="{{ modelName }}[firstName]" value="{{ model ? model.firstName : '' }}">
			{% if model and model.getErrors('firstName') %}
				<span class="flash">{{ model.getErrors('firstName')|join }}</span>
			{% endif %}
		</div>
		<div class="six columns inputAnimation">
			<label for="{{ modelName }}-lastName">{{ 'Last Name'|t }} *</label>
			<input type="text" id="{{ modelName }}-lastName" class="u-full-width textfield" name="{{ modelName }}[lastName]" value="{{ model ? model.lastName : '' }}">
			{% if model and model.getErrors('lastName') %}
				<span class="flash">{{ model.getErrors('lastName')|join }}</span>
			{% endif %}
    	</div>
	</div>

	<div class="row">
		<div class="six columns inputAnimation">
			<label for="{{ modelName }}-businessName">Business Name</label>
			<input type="text" id="{{ modelName }}-businessName" class="u-full-width textfield" name="{{ modelName }}[businessName]" value="{{ model ? model.businessName : '' }}">
			{% if model and model.getErrors('businessName') %}
				<span class="flash">{{ model.getErrors('businessName')|join }}</span>
			{% endif %}
    	</div>
		<div class="three columns inputAnimation">
			<label for="{{ modelName }}-businessTaxId">Business Tax ID</label>
			<input type="text" id="{{ modelName }}-businessTaxId" class="u-full-width textfield" name="{{ modelName }}[businessTaxId]" value="{{ model ? model.businessTaxId : '' }}">
			{% if model and model.getErrors('businessTaxId') %}
				<span class="flash">{{ model.getErrors('businessTaxId')|join }}</span>
			{% endif %}
    	</div>
		<div class="three columns inputAnimation">
			<label for="{{ modelName }}-businessId">Business ID</label>
			<input type="text" id="{{ modelName }}-businessId" class="u-full-width textfield" name="{{ modelName }}[businessId]" value="{{ model ? model.businessId : '' }}">
			{% if model and model.getErrors('businessId') %}
				<span class="flash">{{ model.getErrors('businessId')|join }}</span>
			{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="three columns inputAnimation">
			<label for="{{ modelName }}-address1">{{ 'Address'|t }} 1</label>
			<input type="text" id="{{ modelName }}-address1" class="u-full-width textfield" name="{{ modelName }}[address1]" value="{{ model ? model.address1 : '' }}" data-required>
			{% if model and model.getErrors('address1') %}
				<span class="flash">{{ model.getErrors('address1')|join }}</span>
			{% endif %}
		</div>

		<div class="three columns inputAnimation">
			<label for="{{ modelName }}-address2">{{ 'Address'|t }} 2</label>
			<input type="text" id="{{ modelName }}-address2" class="u-full-width textfield" name="{{ modelName }}[address2]" value="{{ model ? model.address2 : '' }}">
			{% if model and model.getErrors('address2') %}
				<span class="flash">{{ model.getErrors('address2')|join }}</span>
			{% endif %}
    	</div>

		<div class="three columns inputAnimation">
			<label for="{{ modelName }}-city">{{ 'City'|t }}</label>
			<input type="text" id="{{ modelName }}-city" class="u-full-width textfield" name="{{ modelName }}[city]" value="{{ model ? model.city : '' }}" data-required>
			{% if model and model.getErrors('city') %}
				<span class="flash">{{ model.getErrors('city')|join }}</span>
			{% endif %}
    	</div>

		<div class="three columns inputAnimation">
			<label for="{{ modelName }}-zipCode">{{ 'Zip Code'|t }}</label>
			<input type="text" id="{{ modelName }}-zipCode" class="u-full-width textfield" name="{{ modelName }}[zipCode]" value="{{ model ? model.zipCode : '' }}" data-required>
			{% if model and model.getErrors('zipCode') %}
				<span class="flash">{{ model.getErrors('zipCode')|join }}</span>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="six columns inputAnimation">
			<label for="{{ modelName }}-phone">{{ 'Phone'|t }}</label>
			<input type="text" id="{{ modelName }}-phone" class="u-full-width textfield" name="{{ modelName }}[phone]" value="{{ model ? model.phone : '' }}">
			{% if model and model.getErrors('phone') %}
				<span class="flash">{{ model.getErrors('phone')|join }}</span>
			{% endif %}
		</div>

		<div class="six columns inputAnimation">
			<label for="{{ modelName }}-alternativePhone">{{ 'Alternative Phone'|t }}</label>
			<input type="text" id="{{ modelName }}-alternativePhone textfield" class="u-full-width textfield" name="{{ modelName }}[alternativePhone]" value="{{ model ? model.alternativePhone : '' }}">
			{% if model and model.getErrors('alternativePhone') %}
				<span class="flash">{{ model.getErrors('alternativePhone')|join }}</span>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="six columns">
			<label for="{{ modelName }}-countryId">{{ 'Country'|t }} *</label>
			<select class="address-country u-full-width dropdown" name="{{ modelName }}[countryId]" data-required>
				{% for key, option in countries %}
					{% set optionValue = (model ? model.countryId : '') %}
					<option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
				{% endfor %}
			</select>
			{% if model and model.getErrors('countryId') %}
				<span class="flash">{{ model.getErrors('countryId')|join }}</span>
			{% endif %}
		</div>

		<div class="six columns inputAnimation">
			<label for="{{ modelName }}-state">{{ 'State'|t }}</label>
			{% set options = (model and states[model.countryId] is defined ? states[model.countryId] : []) %}
			<select id="{{ modelName }}-stateId" data-modelname="{{ modelName }}" class="dropdown address-stateId u-full-width {% if options|length == 0 or (model and model.stateName) %}hidden{% endif %}" name="{{ modelName }}[stateValue]">
				{% for key, option in options %}
					{% set optionValue = (model ? model.stateId : '') %}
					<option value="{{ key }}" {% if key == optionValue %}selected{% endif %}>{{ option }}</option>
				{% endfor %}
			</select>
			<input type="text" data-modelname="{{ modelName }}" id="{{ modelName }}-stateName" class="address-stateName {% if options|length > 0 or (model and model.stateId) %}hidden{% endif %} u-full-width textfield" {% if model and model.stateName %}name="{{ modelName }}[stateValue]" value="{{ model.stateName}}"{% endif %}>
		</div>
	</div>

</div>

    {% includejs %}
    var states = {{ craft.commerce.statesArray|json_encode|raw }};

    $('select.address-country').change(function ()
    {
		// get the value of the selected country.
        var cid = $(this).val();
        var $states = $(this).closest('.addressBox').find('select.address-stateId');
        var $stateName = $(this).closest('.addressBox').find('input.address-stateName');
        $states.find('option').remove();

        if (states.hasOwnProperty(cid))
        {
			// We have states for this country, show the states drop down.
			$states.removeClass('hidden');
			$states.attr('name', $states.data('modelname')+'[stateValue]');

			// We have states for this country, hide the stateName input.
			$stateName.removeAttr('name');
			$stateName.addClass('hidden');
			$stateName.val('');

			// Add all states as options to drop down.
            for (var id in states[cid])
            {
                var state = states[cid][id];
                var $option = $('<option/>');
                $option.attr('value', id).text(state);
                $states.append($option);
            }

        }else{
			// hide the states dropdown, since this country has none.
			$states.addClass('hidden');
			$states.removeAttr('name');

			// show the stateName
			$stateName.removeClass('hidden');
			$stateName.attr('name', $stateName.data('modelname')+'[stateValue]');
		}

    });

    $('select').addClass('form-control input-sm');

    {% endincludejs %}
