{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% block content %}
	<form action="" method="post" accept-charset="UTF-8">
		<input type="hidden" name="action" value="DefaultOrderStatus/Status/Save">
		<input type="hidden" name="redirect" value="defaultorderstatus">
		{{ getCsrfInput() }}

		{% if status.id %}
			<input type="hidden" name="statusId" value="{{ status.id }}">
		{% endif %}

		{{ forms.selectField({
			label: 'Status de commande'|t,
			instructions: 'Choisissez le status de commande à appliquer pour la méthode de paiement sélectionné ci-dessous'|t,
			name: 'orderStatusId',
			value: status.id is not null ? status.getOrderStatus().id : '',
			options: orderStatuses,
			errors: status.getErrors('orderStatusId'),
		}) }}

		{{ forms.selectField({
			label: 'Méthodes de paiement'|t,
			instructions: 'Choisissez la méthode de paiement à associer à ce nouveau status par défaut'|t,
			name: 'paymentMethodId',
			value: status.id is not null ? status.getPaymentMethod().id : '',
			options: paymentMethods,
			errors: status.getErrors('paymentMethodId'),
		}) }}

		{{ forms.checkboxField({
		label: 'Activer le status'|t,
		name: 'enabled',
		value: 1,
		checked: status.enabled,
		errors: status.getErrors('enabled')
	}) }}
		<input type="submit" class="btn submit" value="{{ 'Enregistrer'|t }}">
	</form>
{% endblock %}
