{% extends "_layouts/cp" %}

{% set title = "Status de commande par défaut"|t %}

{% set content %}
	<h2>{{ "Status de commande personnalisé"|t }}</h2>
	<p>{{ "Remplace le status par défaut des commandes utilisant une méthode de paiement spécifique par celui de votre choix."|t }}</p>

	<table id="new-default-statuses" class="data fullwidth collapsible">
		<thead>
		<tr>
			<th scope="col">{{ 'Nouveau status par défaut'|t }}</th>
			<th scope="col">{{ 'Méthode de paiement associée'|t }}</th>
			<th scope="col">{{ "Activé ?"|t }}</th>
			<td class="thin"></td>
		</tr>
		</thead>
		<tbody>
			{% for status in statuses %}
				<tr data-id="{{ status.id }}" data-name="{{ status.id }}">
					<th scope="row" data-title="{{ 'Nouveau status par défaut'|t }}"><a href="{{ status.getCpEditUrl() }}">{{ status.getOrderStatus().name }}</a></th>
					<td data-title="{{ 'Méthode de paiement associée '|t }}" class="code">{{ status.getPaymentMethod().name }}</td>
					<td>{% if status.enabled %}<span data-icon="check" title="{{ 'Oui'|t }}"></span>{% endif %}</td>
					<td class="thin"><a class="delete icon" title="{{ 'Supprimer'|t }}" role="button"></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="buttons">
		<a href="{{ url('defaultorderstatus/new') }}" class="btn submit add icon">{{ 'Nouveau status de commande par défaut'|t }}</a>
	</div>

	<form id="deleteForm" method="POST">
		<input type="hidden" name="action" value="DefaultOrderStatus/Status/Delete">
		<input type="hidden" name="statusId" id="targetStatus" value="">
		{{ getCsrfInput() }}
	</form>
{% endset %}

{% set deletePrompt = 'Voulez-vous vraiment supprimer ce status ?'|t %}

{% includejs %}
	var deletePrompt = "{{deletePrompt}}";
	var deleteButtons = $('a.delete.icon');
	var deleteForm = $('#deleteForm');

	deleteButtons.on('click', function() {
		// Get the id of the status that has to be deleted
		var statusId = $(this).parents('tr').data('id');

		if (window.confirm(deletePrompt) == true) {
			// Set the form param status id
			$('#targetStatus').val(statusId);

			// Delete the status - Submit the form
			deleteForm.submit();
		}
	});
{% endincludejs %}