{% extends "_layout" %}

{% block content %}

	<div class="pageContent">
		<div id="blogList">
			{# Iterate over every single blog post #}
			{% paginate craft.entries.section('blog').limit(12) as pageInfo, posts %}

			{% for post in posts %}
				<article class="post">
					<a href="{{ post.url }}">
						<div class="postPicture" style="background-image: url({{ post.pageBanner.first().url }});"></div>
					</a>

					<div class="postInfo">
						{# Display the post date with formatting #}
						<span class="postDate">{{ post.postDate.localeDate() }}</span>

						<a href="{{ post.url }}">
							{# Display a heading anchor #}
							<span class="postTitle">{{ post.title }}</span>
						</a>
					</div>
				</article>
			{% endfor %}
		</div>

		{# --------- Pagination --------- #}

		{# Macro that builds a pagination based on this page first paginate function 'as' parameter  #}
		{% import "macros/_pagination" as paginator %}

		{# Parameters: pageInfo, displayPageNumbers, limit, displayCurrentPage, displayFirstAndLast #}

		{{ paginator.paginate(pageInfo, false, null, false, false) }}
	</div>
{% endblock %}