{% extends "_layout" %}

{% set js = 'post' %}

{% set myJs %}
window.jesuisuncraft = {
js: 'app {{ js }}',
};
{% endset %}

{% includeJs myJs %}

{% block content %}

<div class="narrowContainer">
	<div class="pageBanner" style="background-image: url({{ entry.pageBanner.first().url }})"></div>

	<div id="blogPost" class="narrowContent">
		{# Set the list of blog entries and sort them from the most recent to the oldest #}
		{% set blogEntries = craft.entries.section('blog').order('postDate desc') %}

		{# Only display a 'next post' link if there's more than one blog entry #}
		{% if  blogEntries.total() > 1 %}
				{#
				 # If the current post is the most recent, display the first post as a link.
				 # Display a the 'next' post otherwise.
				 #}
				 {% if entry.id == blogEntries.first().id %}
				 {% set nextEntry = blogEntries.last() %}
				 <span>{{ 'Latest'|t }}  {{ entry.postDate|date('d F o') }}</span>
				 {% else %}
				 {% set nextEntry = entry.getPrev(blogEntries) %}
				 <span>{{ entry.postDate.localeDate() }}</span>
				 {% endif %}
				 {% endif %}

				 <div id="postInfo">
				 	{# Post title #}
				 	<h1 id="postTitle">{{ entry.title }}</h1>

				 	{# Social sharing of this post #}
				 	<div class="share">
				 		<div class="share-label">
				 			{{ 'Share this article'|t}}
				 		</div>
				 		<div class="shareIcons">
				 			<div class="icon" data-share="facebook">
				 				<img src="{{ siteUrl ~ 'images/icons/share_facebook.svg' }}" alt="facebook share icon">
				 			</div>
				 			<div class="icon" data-share="twitter">
				 				<img src="{{ siteUrl ~ 'images/icons/share_twitter.svg' }}" alt="twitter share icon">
				 			</div>
				 			<div class="icon" data-share="pinterest">
				 				<img src="{{ siteUrl ~ 'images/icons/share_pinterest.svg' }}" alt="pinterest share icon">
				 			</div>
				 		</div>
				 	</div>
				 </div>

				 {# Actual blog post body content #}
				 <div class="userInput">
				 	{{ entry.postBody }}
				 </div>

				</div>
			</div>
			{# Link to the 'next' blog post #}
			<div id="nextPost">
				<div class="next-post-container">
					<span id="next">{{ 'Next post'|t}}</span>
					<a href="{{ nextEntry.url }}" class="no-border next-post-content">
						<div class="next-post-image" style="background-image: url({{ nextEntry.pageBanner.first().url }});"></div>
						<div class="next-post-title">{{ nextEntry }}</div>
					</a>
				</div>
			</div>
			{% endblock %}