<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.locale }}">
<head>

	{# Page slugs management#}
	{# header #}
	{% set productIndex = craft.entries.section('productIndex').first().uri %}
	{% set blogIndex = craft.entries.section('blogIndex').first().uri %}

	{# header + footer #}
	{% set about = craft.entries.section('about').first().uri %}
	{% set contact = craft.entries.section('contact').first().uri %}
	{% set legalMentions = craft.entries.section('legalMentions').first().uri %}
	{% set partners = craft.entries.section('partners').first().uri %}
	{% set ambassadors = craft.entries.section('ambassadors').first().uri %}
	{% set delivery = craft.entries.section('delivery').first().uri %}
	{% set return = craft.entries.section('return').first().uri %}
	{% set technicity = craft.entries.section('technicity').first().uri %}

	{# Define a class to be used to style the header depending on the current page #}
	{% set isHome = false %}
	{% set iconColor = '#191935' %}
	{% set homeStyle = '' %}

	{% if craft.request.firstSegment == '' or craft.request.firstSegment == 'index' %}
	{% set isHome = true %}
	{% set iconColor = '#FFFFFF' %}
	{% set homeStyle = 'home' %}
	{% endif %}

	{# Dynamic language link variable for static links, refer to 'customer' and 'checkout' folders templates #}
	{% set element = (category ?? entry ?? product ?? null) %}

	{% set cart = craft.commerce.cart %}

	<meta charset="utf-8" />

	{# Page title management #}
	{% if title is defined %}
		<title>{{ title }} | {{ siteName }}</title>
	{% else %}
		<title>{{entry.metaTitle ?? product.metaTitle ?? '' }}</title>
	{% endif %}

	<link rel="home" href="{{ siteUrl }}" />

	<link rel="stylesheet" href="{{ craft.config.baseResourceUrl }}public/app/css/app.css?_={{ date().format('U') }}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="HandheldFriendly" content="true">
	<meta name="google" content="notranslate">
	<meta http-equiv="Content-Language" content="en, fr">

	{# FAVICON #}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ craft.config.baseResourceUrl }}public/images/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ craft.config.baseResourceUrl }}public/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ craft.config.baseResourceUrl }}public/images/favicons/favicon-16x16.png">
	<link rel="manifest" href="{{ craft.config.baseResourceUrl }}public/images/favicons/manifest.json">
	<link rel="mask-icon" href="{{ craft.config.baseResourceUrl }}public/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

	{# META #}
	<meta name="description" content="{{ entry.metaDescription ?? product.metaDescription ?? '' }}" />

	{# TWITTER #}
	<meta name="twitter:title" content="{{entry.metaTitle ?? product.metaTitle ?? '' }}" />
	<meta name="twitter:description" content="{{ entry.metaDescription ?? product.metaDescription ?? '' }}" />
	<meta name="twitter:image:src" content="{{ url(product.defaultVariant.productImage[0].url ?? (craft.config.baseResourceUrl~'public/images/share/twitter.png')) }}" />
	<meta name="twitter:card" content="summary_large_image" />
	{# <meta name="twitter:site" content="proconf" /> #} {# to be replaced in the future #}
	{# <meta name="twitter:creator" content="proconf" /> #} {# to be replaced in the future #}

	{# FACEBOOK #}
	<meta property="og:locale" content="{{ craft.locale }}" />
	<meta property="og:title" content="{{entry.metaTitle ?? product.metaTitle ?? '' }}" />
	<meta property="og:description" content="{{ entry.metaDescription ?? product.metaDescription ?? '' }}" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="624" />
	<meta property="og:image" itemprop="image" content="{{ url(product.defaultVariant.productImage[0].url ?? (craft.config.baseResourceUrl~'public/images/share/facebook.png')) }}" />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="{{ siteName }}" />
	{# <meta property="og:url" content="http://localhost/proconf" /> #}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113426418-1"></script>
	<script>
	 window.dataLayer = window.dataLayer || [];
	 function gtag(){dataLayer.push(arguments);}
	 gtag('js', new Date());

	 gtag('config', 'UA-113426418-1');
	</script>

</head>

<body class="{{ homeStyle }}">
	<div id="app">
		{# Site header #}
		{% include '_layouts/_header' with {'isHome': isHome, 'iconColor': iconColor} %}

		{# Cart used throughout the site #}
		<div id="sideCart">
			{% include 'newshop/_includes/sideCart'%}
		</div>

		<main role="main" >
			{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		{% include '_layouts/_footer' %}

		<script>
			{% set js = 'home' %}
			window.jesuisuncraft = {
				js: 'app {{ js }}',
			};
		</script>
	</div>

	<script src="{{ craft.config.baseResourceUrl }}public/app/js/app.js?_={{ date().format('U') }}"></script>
</body>
</html>