{% extends '_layout' %}

{% block content %}
{# 	<div class="narrowContainer">
		{% if entry.pageBanner|length %}
			<div class="pageBanner" style="background-image: url({{ entry.pageBanner.first().url }})"></div>
		{% endif %}

		<div id="ambassadorsText" class="narrowContent">
			<div class="userInput">
				{{ entry.body }}
			</div>
		</div>


			<div id="ambassadors" class="simplePageContent">
				<a href="https://www.pferdeklinikag.ch" class="partner-img" target="blank"><img src="../public/images/partners/pferdeklinik-neugraben.gif"></a>
				<a href="http://www.clinique-areda.ch" class="partner-img" target="blank"><img src="../public/images/partners/areda.png"</a>
				<a href="https://fr-fr.facebook.com/ecuriezjump" class="partner-img" target="blank"><img src="../public/images/partners/jump-z.jpg"></a>
				<a href="http://www.pius-schwizer.ch" class="partner-img" target="blank"><img src="../public/images/partners/PS.png"></a>
				<a href="https://fr-fr.facebook.com/Camille-Cond%C3%A9-Ferreira-270666709751219" class="partner-img" target="blank"><img src="../public/images/partners/camille-conde-ferreira.jpg"></a>
				<a href="https://fr-fr.facebook.com/MarsanClarisse" class="partner-img" target="blank"><img src="../public/images/partners/sellerie-tillaux.jpg"></a>
				<a href="https://sellerieequidam.fr" class="partner-img" target="blank"><img src="../public/images/partners/equi-dam.png"></a>
			</div>

		</div> #}
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-6">
						<br><br>
						{{ entry.body }}
					</div>
					<div class="column is-6"></div>
				</div>
				<div class="columns is-multiline">
					{#
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/michael.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-gb image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Michael Whitaker</p>
											<p class="subtitle is-6">
												<a href="https://en.wikipedia.org/wiki/Michael_Whitaker" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					#}
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/pius.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-ch image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Pius Schwizer</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/camille.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Camille Condé Ferreira</p>
											<p class="subtitle is-6">
												<a href="https://www.facebook.com/Camille-Cond%C3%A9-Ferreira-270666709751219" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/oliver.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-ie image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Oliver MacCarthy</p>
											<p class="subtitle is-6">
												<a href="https://horsenetwork.com/2016/04/oliver-mccarthy-dream-job-doesnt-plan-giving-time-soon" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/jessy.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-ch image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Jessy Putallaz</p>
											<p class="subtitle is-6">
												<a href="http://www.jphorses.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{#
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/jack.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-ie image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Jack Dodd</p>
											<p class="subtitle is-6">
												<a href="https://www.theirishfield.ie/feature-jack-dodd-out-on-his-own-311254" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					#}
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/estelle.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Estelle Guillet</p>
											<p class="subtitle is-6">
												<a href="https://www.facebook.com/profile.php?id=100020145331227" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/rodrigo.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-pt image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Rodrigo Sampaio Peixoto</p>
											<p class="subtitle is-6">
												<a href="https://www.facebook.com/Guyggo" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/tamara.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Tamara Zahid</p>
											<p class="subtitle is-6">
												<a href="https://www.facebook.com/ecurie.zahid" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/alexandre.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Alexandre Zambaux</p>
											<p class="subtitle is-6">
												<a href="https://www.ecurie-jumpz.com" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/axelle.jpg" alt="Placeholder image">

								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Axelle Cottaux</p>
											<p class="subtitle is-6">
												<a href="" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/julie.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Julie Bruguière</p>
											<p class="subtitle is-6">
												<a href="https://www.facebook.com/julie.burguiere.9" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="{{ craft.config.baseResourceUrl }}/public/images/partners/lea.jpg" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Léa Ansallem</p>
											<p class="subtitle is-6">
												<a href="https://www.facebook.com/lea.amsallem" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{# <div class="columns is-multiline">
					<div class="column is-12">
						<h1>
							<br><br>
							Distributeurs
						</h1>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Sellerie Equi’Dam</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">L’Atelier</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-be image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Sellerie Gilbert</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-ch image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Clinique Areda</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-ch image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">David Marechalerie</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-fr image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Sellerie Tillaux</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-ch image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Clinique Pferde</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-4">
						<div class="card">
							<div class="card-image">
								<figure class="image is-4by3">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="flag flag-ch image is-48x48"></figure>							</figure>
									</div>
									<div class="media-content">
										<div class="">
											<p class="title is-5">Salon de toilettage la Vigie Genève</p>
											<p class="subtitle is-6">
												<a href="http://www.pius-schwizer.ch" target="_blank">Site</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> #}
			</div>
		</div>
	</section>
	{% endblock %}