{% extends "_layout" %}

{% set js = 'forgotpassword' %}

{% block content %}
	<div class="narrowContainer centerContent">
		<div id="forgotForm" class="narrowContent">
			<h1>{{ 'Password recovery'|t }}</h1>

			<form method="post" accept-charset="UTF-8">
				{{ getCsrfInput() }}
				<input type="hidden" name="action" value="users/sendPasswordResetEmail">
				<input type="hidden" name="redirect" value="{{ url('mailconfirmation') }}">

				<div>
					<label for="loginName">{{ 'Username or email'|t }}</label>
					<input type="text" name="loginName" id="loginName" class="textfield"
					value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">
				</div>

				{% if errors is defined %}
					<div class="alert error errors">
						{% for error in errors %}
							<p>{{ error }}</li>
						{% endfor %}
					</div>
				{% endif %}
				<button type="submit" class="actionButton buttonShadow">
					<span>{{ 'Submit'|t }}</span>
				</button>
			</form>
		</div>
	</div>
{% endblock %}