{% extends '_layout' %}

{% block content %}
	<div class="pageContent">
		<div id="legalMentions" class="narrowContainer">
			{# Display a page banner if there is one #}
			{% if entry.pageBanner|length %}
				<div class="pageBanner" style="background-image: url({{ entry.pageBanner.first().url }})"></div>
			{% endif %}

			<div class="userInput">
				{{ entry.body }}
			</div>
		</div>
	</div>
{% endblock %}