{% extends '_layout' %}
{% set title = "Login" %}

{% block content %}
<div class="pageContent">
	<div class="outer">
		<div class="left">
			<div class="inner">
				<h1>{{ 'Login'|t }}</h1>

				<form method="post" accept-charset="UTF-8">
					{{ getCsrfInput() }}
					<input type="hidden" name="action" value="users/login">

					<div class="inputAnimation">
						<label for="loginName">{{ 'Username or email'|t }}</label>
						<input id="loginName" class="textfield" type="text" name="loginName"
						value="{{ craft.session.rememberedUsername }}">
					</div>

					<div class="inputAnimation">
						<label for="loginPassword">{{ 'Password'|t }}</label>
						<input id="loginPassword" class="textfield" type="password" name="password">
					</div>

					<div>
						<label>
							<input type="checkbox" name="rememberMe" value="1">
							{{ 'Remember me'|t }}
						</label>
					</div>

					<div class="inputAnimation">
						<button type="submit" class="actionButton buttonShadow">
							<span>{{ 'Login'|t }}</span>
						</button>
					</div>

					{% if errorMessage is defined %}
					<div class="alert error">
						<p>{{ errorMessage }}</p>
					</div>
					{% endif %}
				</form>

				<div>
					<a href="{{ url('forgotpassword') }}">{{ 'Forget your password?'|t }}</a>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="inner">
				<h1>{{ 'Register'|t }}</h1>

				{% include 'forms/register' %}
			</div>
		</div>
	</div>
</div>
{% endblock %}