{% extends '_layout' %}

{% block content %}
<div class="narrowContainer centerContent">
	<div id="loginForm" class="narrowContent">

		<p style="text-align: center;">{{ 'An email has been sent to your address'|t }}</p>
	</div>
</div>
{% endblock %}