{% extends '_layout' %}

{% block content %}
<section class="section">
	<div class="container">
		{# Display a page banner if there is one #}
	{# {% if entry.pageBanner|length %}
	<div class="pageBanner" style="background-image: url({{ entry.pageBanner.first().url }})"></div>
	{% endif %} #}
	<div class="columns">
		<div class="column is-6">
			<br><br>
			{{ entry.body }}
		</div>
	</div>
	<div class="columns">
		<div class="column is-12">
			<div id="partners" class="simplePageContent">
				<a href="http://www.clinique-areda.ch/" class="partner-img" target="blank"><img src="../public/images/partners/areda.png" </a>
				<a href="https://www.pferdeklinikag.ch/" class="partner-img" target="blank"><img src="../public/images/partners/pferdeklinik-neugraben.gif"></a>
				<a href="" class="partner-img" target="blank"><img src="../public/images/partners/atelier.jpg"></a>
				<a href="https://sellerieequidam.fr/" class="partner-img" target="blank"><img src="../public/images/partners/equi-dam.png"></a>
				<a href="https://fr-fr.facebook.com/MarsanClarisse/" class="partner-img" target="blank"><img src="../public/images/partners/sellerie-tillaux.jpg"></a>
				<a href="" class="partner-img" target="blank"><img src="../public/images/partners/david.jpg"></a>
			</div>
		</div>
	</div>
</section>
{% endblock %}