{% extends '_layout' %}

{% block content %}
<div class="narrowContainer centerContent">
	<div class="narrowContent">
		<form method="post" accept-charset="UTF-8">
			{{ getCsrfInput() }}
			<input type="hidden" name="action" value="users/setPassword">
			<input type="hidden" name="code" value="{{ code }}">
			<input type="hidden" name="id" value="{{ id }}">

			<div>
				<label for="newPassword">{{ 'New Password'|t }}</label>
				<input type="password" name="newPassword" id="newPassword" class="textfield">
			</div>

			{% if errors is defined %}
				<ul class="errors">
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			<input type="submit" class="actionButton buttonShadow" value="{{ 'Save'|t }}">
		</form>
	</div>
</div>
{% endblock %}