{% extends '_layout' %}

{% block content %}
	<div class="narrowContainer">
		{# Display a page banner if there is one #}
		{% if entry.pageBanner|length %}
			<div class="pageBanner" style="background-image: url({{ entry.pageBanner.first().url }})"></div>
		{% endif %}

		<div id="technicity" class="narrowContent simplePageContent">
			<div class="userInput">
				{{ entry.body }}
			</div>
		</div>
	</div>
{% endblock %}