{% extends '_mails/index' %}

{% block body %}
	{# Access global variable via:
	{% set globalSet = craft.globals.getAllSets() %}
	{{ globalSet.customFieldName }}
	#}

	{% set customer = order.customer %}

	{% include '_mails/_includes/greetings' %}

	{{ 'Thanks for making this purchase'|t }}.<br><br>
	{{ 'Your order will be processed as soon as we receive your payment.'|t }}<br><br>
	{{ 'Order overview'|t }}:<br><br>

	{# Shipping and payment methods #}
	<b>{{ 'Shipping method'|t }}:</b><br>{{ order.shippingMethod.name }}<br><br>
	<b>{{ 'Payment method'|t }}:</b><br>{{ order.paymentMethod.name }}<br><br>

	{# Delivery and shipping addresses #}
	<b>{{ 'Delivery address'|t }}:</b><br>
	{{ order.shippingAddress.firstName }}
	{{ order.shippingAddress.lastName }},
	{{ order.shippingAddress.address1 }}
	{{ order.shippingAddress.address2 }}
	{{ order.shippingAddress.zipCode }}
	{{ order.shippingAddress.city }}
	{{ order.shippingAddress.stateText }}
	{{ order.shippingAddress.countryText }}<br><br>

	<b>{{ 'Billing address'|t }}:</b><br>
	{{ order.billingAddress.firstName }}
	{{ order.billingAddress.lastName }},
	{{ order.billingAddress.address1 }}
	{{ order.billingAddress.address2 }}
	{{ order.billingAddress.zipCode }}
	{{ order.billingAddress.city }}
	{{ order.billingAddress.stateText }}
	{{ order.billingAddress.countryText }}<br><br>

	{% include '_mails/_includes/paymentSummary' %}

	{% if order.message != '' %}
		<b>{{ 'Informations'|t }}:</b><br>
		{{ order.message }}<br><br>
	{% endif %}

	{# Display a link to the order summary page #}
	{{ 'For more information'|t }} {{ 'on your order'|t }}:<br>
	{% include '_mails/_includes/orderPageLink' %}
{% endblock %}
