{% extends '_mails/index' %}

{% block body %}
	{# Access global variable via:
	{% set globalSet = craft.globals.getAllSets() %}
	{{ globalSet.customFieldName }}
	#}

	{% set customer = order.customer %}

	{% include '_mails/_includes/greetings' %}

	<p>
		{{ 'The order'|t }} {{ order.shortNumber }} {{ 'has been cancelled'|t }}.
	</p><br>

	{% if order.message != '' %}
		<b>{{ 'Informations'|t }}:</b><br>
		{{ order.message }}<br><br>
	{% endif %}

	{# Display a link to the order that has been cancelled #}
	{{ 'For more information'|t }} {{ 'on the cancellation'|t }}:<br>
	{% include '_mails/_includes/orderPageLink' %}
{% endblock %}
