{% extends '_mails/index' %}

{% block body %}
	{# Access global variable via:
	{% set globalSet = craft.globals.getAllSets() %}
	{{ globalSet.customFieldName }}
	#}

	{% set customer = order.customer %}

	{% include '_mails/_includes/greetings' %}

	<p>
		{{ 'The sum of'|t }} {{ order.totalPrice|commerceCurrency(order.currency) }}
		{{ 'has been refunded'|t }} {{ 'according to the payment method used to pass this order'|t }}.
	</p><br>

	{% if order.message != '' %}
		<b>{{ 'Informations'|t }}:</b><br>
		{{ order.message }}<br><br>
	{% endif %}

	{# Display a link to the order that has been refunded #}
	{{ 'For more information'|t }} {{ 'on the refund'|t }}:<br>
	{% include '_mails/_includes/orderPageLink' %}
{% endblock %}
