{% extends '_mails/index' %}

{% block body %}
	{# Access global variable via:
	{% set globalSet = craft.globals.getAllSets() %}
	{{ globalSet.customFieldName }}
	#}

	{% set customer = order.customer %}

	{% include '_mails/_includes/greetings' %}

	{% if order.lineItems|length > 1 %}
		{{ 'The following products'|t }}, {{ 'from your order'|t }}
		{{ order.shortNumber }}, {{ 'passed on the'|t }} {{ order.dateOrdered.localeDate() }}, {{ 'have been sent'|t }}: <br><br>
	{% else %}
		{{ 'The following product'|t }}, {{ 'from your order'|t }}
		{{ order.shortNumber }}, {{ 'passed on the'|t }} {{ order.dateOrdered.localeDate() }}, {{ 'has been sent'|t }}: <br><br>
	{% endif %}

	{# Iterate over every item for this order and display it #}
	{% for item in order.lineItems %}
		{{ item.qty }}x {{ item.purchasable.title }} ({{ item.purchasable.getSku() }})<br>
	{% endfor %}
	<br>

	{% if order.message != '' %}
		<b>{{ 'Informations'|t }}:</b><br>
		{{ order.message }}<br><br>
	{% endif %}

	{# Display a link to the order summary page #}
	{{ 'For more information'|t }} {{ 'on your order'|t }}:<br>
	{% include '_mails/_includes/orderPageLink' %}
{% endblock %}
