<div style="margin-bottom: 40px;">
	<p>
		{{ 'Address your payment using the following information. Your order will be processed as soon we receive your payment.'|t }}
	</p>
	<b>{{ 'Account management'|t }}:</b> Pro Confort SA<br>
	<b>{{ 'Account number'|t }}:</b>{% block accountNumber %} This is where accounts number must be defined {% endblock %}<br>
	<b>{{ 'BIC (SWIFT-Code)'|t }}:</b> POFICHBEXXX
</div>